{% extends "template.njk" %}

{% from "govuk/components/tabs/macro.njk" import govukTabs %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/accordion/macro.njk" import govukAccordion %}

{% block pageTitle %}{{ index }}{% endblock %}

{% block content %}

{% for project in projects() | await %}

  Project:
  ================

  <br>

  {% for key, field in project.fields.entries() %}

    {{ field.name }}: {{ field.value }}<br>

  {% endfor %}

  <br><br>

  Milestones:
  ================

  <br>
  {% for milestone in project.milestones %}

    {% for key, field in milestone.fields.entries() %}

      {{ field.name }}: {{ field.value }}<br>

    {% endfor %}

    <br><br>

  {% endfor %}

  <br><br><br>

{% endfor %}

<br><br><br>

{{ filters() | await | dump }} <br><br>

{{ data.filters | dump }}

<form action="{{ url }}" method="post">

  <label for="date">Date :</label><br>
  <input type="text" name="filters[date][]" value="{{ data.filters.date[0] }}"><br>
  <input type="text" name="filters[date][]" value="{{ data.filters.date[1] }}"><br><br>

  {% for filter in filters() | await %}
    <label for="{{ filter.name }}">{{ filter.name }} :</label><br>
    {% for option in filter.options %}
      {% if option.value in data.filters[filter.id] | default([]) %}
        <input type="checkbox" name="filters[{{ filter.id }}][]" value="{{ option.value }}" checked>
      {% else %}
        <input type="checkbox" name="filters[{{ filter.id }}][]" value="{{ option.value }}">
      {% endif %}
      <label for="{{ filter.name }}">{{ option.value }} ({{option.count}}):</label><br>
    {% endfor %}
    <br><br>
  {% endfor %}
  <input type="submit" value="Submit">
</form>


{% endblock %}
{% block spare %}



<form action="{{ url }}" method="post">

  {% for filter in filters() | await %}
    <label for="{{ filter.name }}">{{ filter.name }} :</label><br>

    {% set test  %}
      {% for option in filter.options %}

        {% if option.value in data.filters[filter.id] | default([]) %}

          {{ govukCheckboxes({
              name: "filters[" + filter.id + "][]",
              items: [
                {
                  value: option.value,
                  text: option.value + option.count,
                  checked: true
                }
              ]
            }) }}

        {% else %}

          {{ govukCheckboxes({
              name: "filters[" + filter.name + "][]",
              items: [
                {
                  value: option.value,
                  text: option.value + "(" + option.count + ")"
                }
              ]
            }) }}

        {% endif %}

      {% endfor %}

    {% endset -%}

    {{ govukAccordion({
      id: "accordion-default",
      items: [
        {
          heading: {
            text: filter.name
          },
          content: {
            html: test
          }
        }
      ]
    }) }}

    <br><br>
  {% endfor %}

  <input type="submit" value="Submit">
</form>
{% endblock %}