{% extends "template.njk" %}

{% from "govuk/components/tabs/macro.njk" import govukTabs %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/accordion/macro.njk" import govukAccordion %}

{% block pageTitle %}{{ index }}{% endblock %}

{% block content %}

{{ projects() | await | dump }}

<br><br><br>

{{ data.filters | dump }}

<form action="{{ url }}" method="post">
  {% for filter in filters() | await %}
    <label for="{{ filter.name }}">{{ filter.name }} :</label><br>
    {% for option in filter.options %}
      {% if option.value in data.filters[filter.id] | default([]) %}
        <input type="checkbox" name="filters[{{ filter.id }}][]" value="{{ option.value }}" checked>
      {% else %}
        <input type="checkbox" name="filters[{{ filter.id }}][]" value="{{ option.value }}">
      {% endif %}
      <label for="{{ filter.name }}">{{ option.value }} ({{option.count}}):</label><br>
    {% endfor %}
    <br><br>
  {% endfor %}
  <input type="submit" value="Submit">
</form>

<form action="{{ url }}" method="post">


  {% for filter in getFilters() | await %}
    <label for="{{ filter.name }}">{{ filter.name }} :</label><br>

    {% set test  %}
      {% for option in filter.options %}

        {% if option.value in data.filters[filter.name] | default([]) %}

          {{ govukCheckboxes({
              name: "filters[" + filter.name + "][]",
              items: [
                {
                  value: option.value,
                  text: option.value + option.count,
                  checked: true
                }
              ]
            }) }}

        {% else %}

          {{ govukCheckboxes({
              name: "filters[" + filter.name + "][]",
              items: [
                {
                  value: option.value,
                  text: option.value + "(" + option.count + ")"
                }
              ]
            }) }}

        {% endif %}

      {% endfor %}

    {% endset -%}

    {{ govukAccordion({
      id: "accordion-default",
      items: [
        {
          heading: {
            text: filter.name
          },
          content: {
            html: test
          }
        }
      ]
    }) }}

    <br><br>
  {% endfor %}

  <input type="submit" value="Submit">
</form>

{% endblock %}