{% set managementInformationUrls = [
    config.paths.reportingOverview,
    config.paths.allData,
    config.paths.missedMilestones,
    config.paths.upcomingMilestones
    ]
%}

{% set addProjectMilestonesUrls = [
    config.paths.dataEntry.bulkUpload,
    config.paths.dataEntry.bulkUploadProjectMilestone,
    config.paths.dataEntry.submissionSuccess,
    config.paths.editMilestone
    ]
%}

{% set addEntitiesUrls = [
    config.paths.dataEntryEntity.bulkUpload,
    config.paths.dataEntryEntity.bulkUploadEntity,
    config.paths.dataEntryEntity.bulkUploadSignOff,
    config.paths.dataEntryEntity.bulkUploadFile,
    config.paths.dataEntryEntity.import,
    config.paths.dataEntryEntity.submissionSuccess,
    config.paths.dataEntryEntity.output
    ]
%}

{% set adminUrls = [
    config.paths.admin.projectFieldList,
    config.paths.admin.projectField,
    config.paths.admin.categoryFieldList,
    config.paths.admin.categoryField,
    config.paths.admin.categoryList
    ]
%}

{% set transitionReadinessUrls = [
    config.paths.readinessOverview,
    config.paths.transitionReadinessThemeDetail
    ]
%}

<nav class="navigation">
    <ul id="navigation" class="govuk-header__navigation" aria-label="Top Level Navigation">
    {% if req.user.roles | includes(['viewer']) %}
    <li class="govuk-header__navigation-item {{ 'govuk-header__navigation-item--active' if url in transitionReadinessUrls }}">
        <a class="govuk-header__link nav" href="{{ config.paths.readinessOverview }}">Transition readiness</a>
    </li>
    {% endif %}
    {% if req.user.roles | includes(['management']) %}
    <li class="govuk-header__navigation-item {{ 'govuk-header__navigation-item--active' if url in managementInformationUrls }}">
        <a class="govuk-header__link nav" href="{{ config.paths.allData }}">HMG delivery management information</a>
    </li>
    {% endif %}
    {% if req.user.roles | includes(['uploader']) %}
    <li class="govuk-header__navigation-item {{ 'govuk-header__navigation-item--active' if url in addProjectMilestonesUrls or url in addEntitiesUrls }}">
        <a class="govuk-header__link nav" href="{{ config.paths.dataEntry.bulkUploadProjectMilestone }}">
        Add data
        </a>
    </li>
    {% endif %}
    {% if req.user.roles | includes(['admin']) %}
    <li class="govuk-header__navigation-item {{ 'govuk-header__navigation-item--active' if url in adminUrls }}">
        <a class="govuk-header__link nav" href="{{ config.paths.admin.projectFieldList }}">
        Admin
        </a>
    </li>
    {% endif %}
    </ul>
</nav>

{% if url in managementInformationUrls %}
<nav class="child-navigation">
    <ul id="childNavigation" class="govuk-header__navigation" aria-label="Second Level Navigation">
    {% if req.user.roles | includes(['management_overview']) %}
    <li class="govuk-header__navigation-item child-item {{ 'govuk-header__navigation-item--active' if url == config.paths.reportingOverview }}">
        <a class="govuk-header__link child-nav" href="{{ config.paths.reportingOverview }}">
        Reporting overview
        </a>
    </li>
    {% endif %}
    <li class="govuk-header__navigation-item child-item {{ 'govuk-header__navigation-item--active' if url == config.paths.allData }}">
        <a class="govuk-header__link child-nav" href="{{ config.paths.allData }}">
        All data
        </a>
    </li>
    <li class="govuk-header__navigation-item child-item {{ 'govuk-header__navigation-item--active' if url == config.paths.missedMilestones }}">
        <a class="govuk-header__link child-nav" href="{{ config.paths.missedMilestones }}">
        Missed milestones
        </a>
    </li>
    <li class="govuk-header__navigation-item child-item {{ 'govuk-header__navigation-item--active' if url == config.paths.upcomingMilestones }}">
        <a class="govuk-header__link child-nav" href="{{ config.paths.upcomingMilestones }}">
        Upcoming milestones
        </a>
    </li>
    </ul>
</nav>
{% endif %}

{% if url in addProjectMilestonesUrls or url in addEntitiesUrls %}
<nav class="child-navigation">
    <ul id="childNavigation" class="govuk-header__navigation" aria-label="Second Level Navigation">
    <li class="govuk-header__navigation-item child-item {{ 'govuk-header__navigation-item--active' if url in addProjectMilestonesUrls }}">
        <a class="govuk-header__link child-nav" href="{{ config.paths.dataEntry.bulkUploadProjectMilestone }}">
        Management information
        </a>
    </li>
    {% if config.features.entityData %}
    <li class="govuk-header__navigation-item child-item {{ 'govuk-header__navigation-item--active' if url in addEntitiesUrls }}">
        <a class="govuk-header__link child-nav" href="{{ config.paths.dataEntryEntity.bulkUpload }}">
        Entity data import
        </a>
    </li>
    {% endif %}
    </ul>
</nav>
{% endif %}

{% if url in adminUrls %}
<nav class="child-navigation">
    <ul id="childNavigation" class="govuk-header__navigation" aria-label="Second Level Navigation">
    <li class="govuk-header__navigation-item child-item {{ 'govuk-header__navigation-item--active' if url == config.paths.admin.projectFieldList }}">
        <a class="govuk-header__link child-nav" href="{{ config.paths.admin.projectFieldList }}">
        MI data structure
        </a>
    </li>
    {% if config.features.entityData %}
    <li class="govuk-header__navigation-item child-item {{ 'govuk-header__navigation-item--active' if url == config.paths.admin.categoryList }}">
        <a class="govuk-header__link child-nav" href="{{ config.paths.admin.categoryList }}">
        Manage categories
        </a>
    </li>
    {% endif %}
    </ul>
</nav>
{% endif %}

{% if url in transitionReadinessUrls%}
<nav class="child-navigation">
    <ul id="childNavigation" class="govuk-header__navigation" aria-label="Second Level Navigation">
    <li class="govuk-header__navigation-item child-item {{ 'govuk-header__navigation-item--active' if url == config.paths.readinessOverview }}">
        <a class="govuk-header__link child-nav" href="{{ config.paths.readinessOverview }}">
        Overview
        </a>
    </li>
    {% if config.features.transitionReadinessTheme %}
    <li class="govuk-header__navigation-item child-item {{ 'govuk-header__navigation-item--active' if config.paths.transitionReadinessThemeDetail + '/B' in req.originalUrl }}">
        <a class="govuk-header__link child-nav" href="{{ config.paths.transitionReadinessThemeDetail }}/B">
        Borders
        </a>
    </li>
    <li class="govuk-header__navigation-item child-item {{ 'govuk-header__navigation-item--active' if config.paths.transitionReadinessThemeDetail + '/P' in req.originalUrl }}">
        <a class="govuk-header__link child-nav" href="{{ config.paths.transitionReadinessThemeDetail }}/P">
        People
        </a>
    </li>
    {% endif %}
    </ul>
</nav>
{% endif %}