{% extends "govuk/template.njk" %}

{% from "govuk/components/header/macro.njk" import govukHeader %}
{% from "govuk/components/footer/macro.njk" import govukFooter %}

{% set index = "All project data" %}

{% block headIcons %}
  <link rel="shortcut icon" href="/assets/images/coat-of-arms-favicon.png" type="image/x-icon" />
{% endblock %}

{% block head %}
  {% if config.services.googleAnalytics.id %}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ config.services.googleAnalytics.id }}"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', '{{ config.services.googleAnalytics.id }}', { 'anonymize_ip': true });
    </script>
  {% endif %}

  <!--[if !IE 8]><!-->
    <link href="/assets/main.css" media="screen" rel="stylesheet" />
  <!--<![endif]-->

  {# For Internet Explorer 8, you need to compile specific stylesheet #}
  {# see https://github.com/alphagov/govuk-frontend/blob/master/docs/installation/supporting-internet-explorer-8.md #}
  <!--[if IE 8]>
    <link href="./css/govuk-ie8.css" rel="stylesheet">
  <![endif]-->

  {# For older browsers to allow them to recognise HTML5 elements such as `<header>` #}
  <!--[if lt IE 9]>
    <script src="./js/html5shiv/html5shiv.js"></script>
  <![endif]-->
{% endblock %}

{% block bodyStart %}
{% endblock %}

{% block header %}
<header class="govuk-header " role="banner" data-module="govuk-header">
  <div class="govuk-header__container govuk-width-container">
    <div class="govuk-header__logo">
      <a href="https://www.gov.uk/government/organisations/cabinet-office" class="govuk-header__link govuk-header__link--homepage">
        <span class="govuk-header__logotype">
            <image src="/assets/images/cabinet-office-logo.png" xlink:href="" class="cabinet-office__logotype-image"></image>
        </span>
      </a>
    </div>
    <div class="govuk-header__content">
      <a href="/" class="govuk-header__link govuk-header__link--service-name">
        Transition Delivery Dashboard
      </a>

  {% if req.isAuthenticated() %}
      <button type="button" class="govuk-header__menu-button govuk-js-header-toggle" aria-controls="navigation" aria-label="Show or hide logout link">Menu</button>
      <nav>
        <ul id="navigation" class="govuk-header__navigation " aria-label="Logout Link">
          <li class="govuk-header__navigation-item logout-item">
            <a class="govuk-header__link" href="{{ config.paths.authentication.logout }}">
              Logout
            </a>
          </li>
        </ul>
      </nav>
  {% endif %}

    </div>
  </div>
</header>
{% endblock %}

{% block beforeContent %}
    <div>
        <nav class="navigation">
          <ul id="navigation" class="govuk-header__navigation " aria-label="Top Level Navigation">
            <li class="govuk-header__navigation-item {% if (url == config.paths.missedMilestones) or (url == config.paths.upcomingMilestones) %} govuk-header__navigation-item--active {% endif %}">
              {% if config.features.missedMilestones %}
                <a class="govuk-header__link nav" href="{{ config.paths.missedMilestones }}">Milestones</a>
              {% else %}
                <a class="govuk-header__link nav" href="{{ config.paths.upcomingMilestones }}">Milestones</a>
              {% endif %}
            </li>
            <li class="govuk-header__navigation-item {% if url == config.paths.allData %} govuk-header__navigation-item--active {% endif %}">
              <a class="govuk-header__link nav" href="{{ config.paths.allData }}">
                All data
              </a>
            </li>
            <li class="govuk-header__navigation-item {% if url == config.paths.dataEntry.addData %} govuk-header__navigation-item--active {% endif %}">
              <a class="govuk-header__link nav" href="{{ config.paths.dataEntry.addData }}">
                Add data
              </a>
            </li>
          </ul>
        </nav>

      {% if (url == config.paths.missedMilestones) or (url == config.paths.upcomingMilestones) %}
        <nav class="child-navigation">
          <ul id="childNavigation" class="govuk-header__navigation " aria-label="Second Level Navigation">
            {% if config.features.missedMilestones %}
              <li class="govuk-header__navigation-item child-item {% if url == config.paths.missedMilestones %} govuk-header__navigation-item--active {% endif %}">
                <a class="govuk-header__link child-nav" href="{{ config.paths.missedMilestones }}">
                  Missed milestones
                </a>
              </li>
            {% endif %}
            <li class="govuk-header__navigation-item child-item {% if url == config.paths.upcomingMilestones %} govuk-header__navigation-item--active {% endif %}">
              <a class="govuk-header__link child-nav" href="{{ config.paths.upcomingMilestones }}">
                Upcoming milestones
              </a>
            </li>
          </ul>
        </nav>
      {% endif %}
    </div>
    {% include "feedback.njk" %}

{% endblock %}

{% block main %}
  {{ super() }}
{% endblock %}

{% block footer %}
{{ govukFooter({
  meta: {
    items: [
      {
        href: config.paths.privacyNotice,
        text: "Privacy Notice"
      }
    ]
  }
}) }}
{% endblock %}


{% block bodyEnd %}
  {# Run JavaScript at end of the <body>, to avoid blocking the initial render. #}
  <script type="text/javascript" src="/assets/main.js"></script>
  {% block afterScript %}{% endblock %}
{% endblock %}