{% extends "govuk/template.njk" %}

{% from "govuk/components/header/macro.njk" import govukHeader %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

{% set index = "All project data" %}

{% block head %}
  <!--[if !IE 8]><!-->
    <link href="/assets/main.css" media="screen" rel="stylesheet" />
  <!--<![endif]-->

  {# For Internet Explorer 8, you need to compile specific stylesheet #}
  {# see https://github.com/alphagov/govuk-frontend/blob/master/docs/installation/supporting-internet-explorer-8.md #}
  <!--[if IE 8]>
    <link href="./css/govuk-ie8.css" rel="stylesheet">
  <![endif]-->

  {# For older browsers to allow them to recognise HTML5 elements such as `<header>` #}
  <!--[if lt IE 9]>
    <script src="./js/html5shiv/html5shiv.js"></script>
  <![endif]-->
{% endblock %}

{% block bodyStart %}
{% endblock %}

{% block header %}
  {{ govukHeader({
    homepageUrl: "https://www.gov.uk/government/organisations/cabinet-office",
    serviceName: "Transition Taskforce Dashboard",
    serviceUrl: "/"
  }) }}
{% endblock %}

{% block beforeContent %}
    <div>
        <nav class="navigation">
          <ul id="navigation" class="govuk-header__navigation " aria-label="Top Level Navigation">
            <li class="govuk-header__navigation-item govuk-header__navigation-item--active">
              <a class="govuk-header__link nav" href="/">
                All project data
              </a>
            </li>
            <li class="govuk-header__navigation-item">
              <a class="govuk-header__link nav" href="#">
                Missed milestones
              </a>
            </li>
            <li class="govuk-header__navigation-item">
              <a class="govuk-header__link nav" href="#">
                Upcoming milestones
              </a>
            </li>
          </ul>
        </nav>
    </div>
{% endblock %}

{% block main %}
  {{ super() }}
{% endblock %}

{% block bodyEnd %}
  {# Run JavaScript at end of the <body>, to avoid blocking the initial render. #}
  <script type="text/javascript" src="/assets/main.js"></script>

{% endblock %}