<tr class="govuk-table__row">
    <td class="govuk-table__cell">{{ field.displayName }}</td>
    <td class="govuk-table__cell">{{ field.type }}</td>
    <td class="govuk-table__cell">{{ "Active" if (field.isActive == true) else "Not active" }}</td>
    <td class="govuk-table__cell"><a href="{{ config.paths.admin.projectField + '/' + field.id }}" class="govuk-link">Edit</a></td>
</tr>