<tr class="govuk-table__row">
    <td class="govuk-table__cell">{{ field.displayName }}</td>
    <td class="govuk-table__cell">{{ field.type }}</td>
    {% if field.isActive == true %}
    <td class="govuk-table__cell">Active</td>
    {% else %}
    <td class="govuk-table__cell">Not active</td>
    {% endif %}
    <td class="govuk-table__cell"><a href="#" class="govuk-link">Edit</a></td>
</tr>