{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

<h1 class="govuk-heading-xl">Change your password</h1>

{% if flash %}
  {{
    govukErrorSummary({
      titleText: "Fix the following",
      errorList: [
        {
          text: flash,
          href: "#password"
        }
      ]
    })
  }}
{% endif %}

<p class="govuk-body">As this is your first signing in to this dashboard, we need to change your password to only somthing you will remember.</p><br>

<form action="{{ config.paths.authentication.passwordReset }}" method="post">
  {{
    govukInput({
      label: {
        html: "<strong>New password</strong>"
      },
      classes: "govuk-input--width-20",
      id: "password",
      name: "password",
      type: "password",
      hint: {
        text: "Your password must be at least 8 characters and contain at least one number, lowercase letter, uppercase letter and special character"
      },
      autocomplete: "new-password"
    })
  }}

  {{
    govukInput({
      label: {
        html: "<strong>Confirm password</strong>"
      },
      classes: "govuk-input--width-20",
      id: "confirm-password",
      name: "confirm-password",
      type: "password",
      autocomplete: "new-password"
    })
  }}

  {{
    govukButton({
      text: "Save",
      type: "submit",
      preventDoubleClick: true
    })
  }}

</form>