.project-fields .govuk-table__cell {
    width: 35%;
}

.order-fields .govuk-table__cell {
    width: 29%;
}

.drop-down-option:first-of-type {
    margin-top: 0;
}

.drop-down-option {
    margin-top: 10px;
    margin-bottom: 5px;
}

.delete-option {
    padding-right: 10px;
}

#add-option {
    float: right;
}

.reorder-row {
    display: none;
}

.move-up, .move-down {
    cursor: pointer;
}

.reorder-link {
    color: inherit;
    text-decoration: inherit; 
    pointer-events: none; 
}

.order-cell {
    display: none;
    border: none;
}

