{% extends "template.njk" %}

{% set fields = getFields() | await %}

{% block pageTitle %}Project Data Input{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

  <h1 class="govuk-heading-xl">Manage project data input fields</h1>

  <p class="govuk-body-l">Changes made to project data input fields on this page will 
  be reflected in Bulk upload and Excel download features in the Transition Taskforce Dashboard. </p>

  <a href="{{ config.paths.admin.projectFieldInput }}" class="govuk-link">Add a new field</a><br>
  <a href="{{ config.paths.admin.projectFieldInput }}" class="govuk-link">Re-order fields</a>
  <br><br>

  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

  <table class="govuk-table project-fields">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">Field Name</th>
        <th scope="col" class="govuk-table__header">Field Type</th>
        <th scope="col" class="govuk-table__header">Status</th>
        <th scope="col" class="govuk-table__header"></th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      {% for field in fields %}
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">{{ field.displayName }}</td>
        <td class="govuk-table__cell">{{ field.type }}</td>
        {% if field.isActive == true %}
        <td class="govuk-table__cell">Active</td>
        {% else %}
        <td class="govuk-table__cell">Not active</td>
        {% endif %}
        <td class="govuk-table__cell"><a href="#" class="govuk-link">Edit</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

 </div>
</div>

{% endblock %}
