{% extends "template.njk" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/accordion/macro.njk" import govukAccordion %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

{% import 'accordion-header-macro.njk' as headers %}
{% import 'critical-milestones-macro.njk' as milestones %}

{% set departmentsWithMissedMilestones = getDepartmentsWithMissedMilestones() | await %}
{% set data = chartData(departmentsWithMissedMilestones) %}
{% set missedMilestonesTable = [] %}
{% set criticalMilestonesKey = [{ text:'Department' }, { text:'Missed Milestones' }] %}
{% set extraField = 'Missed Milestones' %}

{% block pageTitle %}Missed Milestones{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

  {{ govukWarningText({
    text: "All data displayed here is just for projects with a 0 to 1 impact rating.",
    iconFallbackText: "All data displayed here is just for projects with a 0 to 1 impact rating."
  }) }}

  <h1 class="govuk-heading-xl">Missed milestones</h1>

  {% if not req.user.isDepartmentalViewer %}
  <canvas id="missed-milestones" height="100" aria-label="This chart shows the total number of missed milestones for projects with a 0 to 1 impact rating." role="img">
    {% for label in data.labels %}
      {% set meta = data.meta[loop.index0] %}
      <p>Department {{ label }} has {{ meta.totalMilestonesMissed }} missed milestones from {{ meta.totalMilestones }} total milestones. {{ ((meta.totalMilestonesMissed / meta.totalMilestones) * 100) | round }}% missed from department portfolio.</p>
    {% endfor %}
  </canvas>
<br><br>
{% endif %}

  {% set missedMilestonesTable = (missedMilestonesTable.push ({
    heading: {
      html: headers.accordionHeader(criticalMilestonesKey)
    }
  }), missedMilestonesTable) %}

  {% for department in departmentsWithMissedMilestones %}
    {% set departmentRow %}
      {{ govukTable({
        rows: [
          [
            {
              text: department.name
            },
            {
              text: department.totalMilestonesMissed
            }
          ]
        ]
      }) }}
    {% endset %}

    {% set missedMilestonesTable = (missedMilestonesTable.push ({
      summary: {
        html: departmentRow
      },
      content: {
        html: milestones.criticalMilestones(department.projects, projectFields, milestoneFields, extraField, config)
      }
    }), missedMilestonesTable) %}
  {% endfor %}


  <a class="govuk-link" href="{{ config.paths.impactDefinitions }}">View impact and confidence definitions</a>
  <br><br><br><br>

  {{ govukAccordion({
    id: "accordion-table",
    classes: "missed-milestones-accordion",
    items: missedMilestonesTable
  }) }}

  </div>
</div>

{% endblock %}

{% block afterScript %}
  {% if not req.user.isDepartmentalViewer %}
  <script>
    var data = {{ data | dump | safe }};
    TRANSITIONDELIVERYDASHBOARD.missedMilestonesChart('missed-milestones', data);
  </script>
  {% endif %}
{% endblock %}
