.project-info, .project-caption {
    background-color: #f3f2f1;
}

.milestone-info, .milestone-caption {
    background-color: #b1b4b6;
}

.missed-milestones-accordion button.govuk-accordion__open-all {
    top: -20px !important;
}

.missed-milestones-accordion button.govuk-accordion__open-all:after {
    content: ' missed milestones';
}

.milestone-info th {
    border-bottom: 1px solid #626a6e;
}

.milestone-info td {
    border-bottom: 1px solid #626a6e;
}

a {
    pointer-events: all;
}

.project-info, .milestone-info {
    margin-bottom: 0px;
}

.project-caption, .milestone-caption {
    padding-top: 15px;
    padding-bottom: 10px;
}

button#accordion-table-heading-1 {
    width: 100%;
}


