{% extends "template.njk" %}
{% from "govuk/components/accordion/macro.njk" import govukAccordion %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "milestones-table.njk" import milestonesTable %}

{% set filters = filters() | await %}
{% set dates = getDepartmentsWithMissedMilestones() | await %}
{% set chart = getChartData() | await %}
{% set chartData = chartData(chart.departments) %}
{% set chart = getChartData() | await %}
{% set projectDetails = config.paths.projectDetails %}
{% set milestoneDetails = config.paths.milestoneDetails %}

{% block pageTitle %}Missed Milestones{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Missed milestones</h1>
  </div>
</div>

<div class="govuk-grid-row">

  <div class="govuk-grid-column-one-quarter">
    {% include "all-data/partials/filters/filters.njk" %}
  </div>

  <div class="govuk-grid-column-three-quarters">
    {% include "all-data/partials/filters/filter-summary.njk" %}

  {% if not req.user.isDepartmentalViewer %}
  <canvas id="missed-milestones" height="100" aria-label="This chart shows the total number of missed milestones for projects with a 0 to 1 impact rating." role="img">
    {% for label in chartData.labels %}
      {% set meta = chartData.meta[loop.index0] %}
      <p>Department {{ label }} has {{ meta.totalMilestonesMissed }} missed milestones from {{ meta.totalMilestones }} total milestones. {{ ((meta.totalMilestonesMissed / meta.totalMilestones) * 100) | round }}% missed from department portfolio.</p>
    {% endfor %}
  </canvas>
  <br><br>
  {% endif %}

  <a class="govuk-link" href="{{ config.paths.impactDefinitions }}">View impact and confidence definitions</a>
  <br><br><br>

  {{ milestonesTable(dates, projectDetails, milestoneDetails) }}

  </div>
</div>

{% endblock %}

{% block afterScript %}
  <script>
    {% if not req.user.isDepartmentalViewer %}
    var chartData = {{ chartData | dump | safe }};
    TRANSITIONDELIVERYDASHBOARD.missedMilestonesChart('missed-milestones', chartData);
    {% endif %}
    TRANSITIONDELIVERYDASHBOARD.sortTable();
  </script>
{% endblock %}