{% extends "template.njk" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/table/macro.njk" import govukTable %}

{% block beforeContent %}
{% include "feedback.njk" %}
{{ govukBackLink({
  text: "Back",
  href: "#",
  attributes: {
    onclick: "history.go(-1);"
  }
}) }}
{% endblock %}

{% block pageTitle %}Impact and confidence definitions{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

  <h1 class="govuk-heading-l">Impact and confidence definitions</h1>

  <h3 class="govuk-heading-s def-title">Impact</h3>
  {% include "impact-definitions/partials/impact.njk" %}

  <h3 class="govuk-heading-s def-title">HMG delivery confidence</h3>
  {% include "impact-definitions/partials/confidence.njk" %}

  <h3 class="govuk-heading-s def-title">Citizen readiness</h3>
  {% include "impact-definitions/partials/confidence.njk" %}

  <h3 class="govuk-heading-s def-title">Business readiness</h3>
  {% include "impact-definitions/partials/confidence.njk" %}

  <h3 class="govuk-heading-s def-title">EU member state delivery confidence</h3>
  {% include "impact-definitions/partials/confidence.njk" %}

 </div>
</div>

{% endblock %}
