{% extends "template.njk" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "#",
    attributes: {
      onclick: "history.go(-1);"
    }
  }) }}
  {% if tableauIframeError %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-xl">Reporting overview</h1>
        <p class="govuk-body">There has been an error accessing this page, please contact The Transition Taskforce Dashboard Team.</p>
      </div>
    </div>
  {% else %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <iframe src="{{ tableauIframeUrl }}" class="tableu"></iframe>
      </div>
    </div>
  {% endif %}
{% endblock %}

{% block pageTitle %}Reporting Overview{% endblock %}

{% block content %}{% endblock %}

