  {% if (field.name == 'uid') %}
    <input type="hidden" name="uid" value="{{ data.uid }}" />
  {% elseif (field.type == 'string') %}

  {{ govukTextarea({
    id: field.name,
    name: field.name,
    label: {
      text: field.importColumnName
    },
    hint: {
      text: field.description
    },
    value: data[field.name]
  }) }}

  {% elseif (field.type == 'integer' or field.type == 'date')  %}

  {% set value = data[field.name] | date("DD/MM/YYYY") if field.type == 'date' else data[field.name] %}

  {% if field.type == 'date' and value == 'Invalid date' %}
    {% set value = data[field.name] %}
  {% endif %}

  {{ govukInput({
    id: field.name,
    name: field.name,
    label: {
      text: field.importColumnName
    },
    hint: {
      text: field.description
    },
    value: value | default('') | string
  }) }}

  {% elseif field.type == 'boolean' %}

  <div class="govuk-form-group">
    <label class="govuk-label" for="{{ field.name }}">
      {{ field.importColumnName }}
    </label>
    <span id="{{ field.name }}-hint" class="govuk-hint">
      {{ field.description }}
    </span>
    <div class="govuk-radios govuk-radios--inline">
      {% for option in field.config.options %}
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="{{ field.name }}" name="{{ field.name }}" type="radio" value="{{ option }}" {{ 'checked' if data[field.name] == option }}>
        <label class="govuk-label govuk-radios__label" for="{{ field.name }}">
          {{ option }}
        </label>
      </div>
      {% endfor %}
    </div>
  </div>

  {% elseif field.type == 'group'%}

  <div class="govuk-form-group">
    <label class="govuk-label" for="{{ field.name }}">
      {{ field.importColumnName }}
    </label>
    <span id="{{ field.name }}-hint" class="govuk-hint">
      {{ field.description }}
    </span>
    <select class="govuk-select" id="{{ field.name }}" name="{{ field.name }}">
      {% for option in field.config.options %}
        <option value="{{ option }}" {{ 'selected' if data[field.name] == option }} >{{ transformDeliveryConfidenceValue(option) if field.name == 'deliveryConfidence' else option }}</option>
      {% endfor %}
    </select>
  </div>

  {% endif %}