@import '~govuk-frontend/govuk/all';
@import '~chart.js/dist/Chart';

@import 'pages/all-data/AllData.scss';
@import 'pages/upcoming-milestones/UpcomingMilestones.scss';
@import 'pages/data-entry/bulk-upload/BulkUpload.scss';
@import 'pages/admin/project-field-list/ProjectFieldList.scss';
@import 'pages/project-details/ProjectDetails.scss';
@import 'pages/reporting-overview/ReportingOverview.scss';
@import 'pages/theme/Theme.scss';
@import 'pages/readiness-overview/ReadinessOverview.scss';
@import 'pages/missed-milestones/MissedMilestones.scss';
@import 'pages/rayg-definitions/RaygDefinitions.scss';
@import 'pages/data-entry-entity/measure-edit/MeasureEdit.scss';
@import 'pages/data-entry-entity/measure-list/MeasureList.scss';

.rayg-status {
  &.rayg-block {
    width: 28px;
    height: 28px;
    display: inline-block;
    border: none;
  }

  &.red {
    background-color: #D4351C;
  }

  &.amber {
    background-color: #F47738;
  }

  &.yellow {
    background-color: #FFDD00;
  }

  &.green {
    background-color: #00703C;
  }
}

.govuk-width-container {
    margin-right: 20px;
    margin-left: 20px;
    max-width: 100%;
}

.govuk-header__container {
    border-bottom: none;
    padding-bottom: 5px;
}

.navigation {
    background-color: #f3f2f1;
    padding-top: 10px;
    padding-left: 24px;
    margin-top: -10px;
    margin-left: -20px !important;
    margin-right: -20px !important;
}

a.govuk-header__link.nav {
    color: #1d70b8;
}

li.govuk-header__navigation-item.govuk-header__navigation-item--active {
    border-bottom: 5px solid #1d70b8;
    margin-bottom: -1px;
}

li.govuk-header__navigation-item.govuk-header__navigation-item--active > a {
    text-decoration: none;
}

.cabinet-office__logotype-image {
    width: 165px;
    height: 32px;
    margin-top: 2px;
}

.govuk-header__link--service-name {
    margin-top: 4px;
}

.govuk-header {
    background: #003078;
}

li.govuk-header__navigation-item.logout-item {
    float: right;
    margin-top: -50px;
}

.child-navigation {
    padding-left: 5px;
}

ul#childNavigation {
    border-bottom: 1px solid #b1b4b6;
    display: inline-block;
}

a.govuk-header__link.child-nav {
    color: #1d70b8;
    font-weight: normal;
}

.child-item.govuk-header__navigation-item.govuk-header__navigation-item--active > a {
   color: #000000;
}

li.govuk-header__navigation-item.child-item, li.govuk-header__navigation-item {
    margin-right: 25px;
}

li.govuk-header__navigation-item.child-item:last-child, li.govuk-header__navigation-item:last-child {
    margin-right: 0px;
}

.timer {
    display: inline;
    color: white;
    margin-left: 15px;
}

#countdown {
    background-color: black;
    font-size: 19px;
    padding: 6px 6px 6px 6px;
    margin-left: 5px;
}
