@import '~govuk-frontend/govuk/all';
@import '~chart.js/dist/Chart';

@import 'pages/all-data/AllData.scss';
@import 'pages/missed-milestones/MissedMilestones.scss';
@import 'pages/upcoming-milestones/UpcomingMilestones.scss';
@import 'pages/data-entry/bulk-upload/BulkUpload.scss';
@import 'pages/admin/project-field-list/ProjectFieldList.scss';

.navigation {
    background-color: #f3f2f1;
    padding-top: 10px;
    padding-left: 10px;
}

a.govuk-header__link.nav {
    color: #1d70b8;
}

li.govuk-header__navigation-item.govuk-header__navigation-item--active {
    border-bottom: 5px solid #1d70b8;
}

li.govuk-header__navigation-item.govuk-header__navigation-item--active > a {
    text-decoration: none;
}

.cabinet-office__logotype-image {
    width: 250px;
    height: 40px
}

.govuk-header__link--service-name {
    margin-top: 5px;
}

.govuk-header {
    background: #003078;
}

li.govuk-header__navigation-item.logout-item {
    float: right;
    margin-top: -45px;
}

.child-navigation {
    padding-left: 10px;
}

ul#childNavigation {
    border-bottom: 1px solid #b1b4b6;
}

a.govuk-header__link.child-nav {
    color: #1d70b8;
    font-weight: normal;
}

.child-item.govuk-header__navigation-item.govuk-header__navigation-item--active > a {
   color: #000000;
}
