@import '~govuk-frontend/govuk/all';
@import '~chart.js/dist/Chart';

@import 'pages/all-data/AllData.scss';
@import 'pages/upcoming-milestones/UpcomingMilestones.scss';
@import 'pages/data-entry/bulk-upload/BulkUpload.scss';
@import 'pages/admin/project-field-list/ProjectFieldList.scss';
@import 'pages/project-details/ProjectDetails.scss';
@import 'pages/reporting-overview/ReportingOverview.scss';
@import 'pages/theme/Theme.scss';
@import 'pages/readiness-overview/ReadinessOverview.scss';
@import 'pages/rayg-definitions/RaygDefinitions.scss';
@import 'pages/data-entry-entity/measure-edit/MeasureEdit.scss';
@import 'pages/data-entry-entity/measure-list/MeasureList.scss';
@import 'pages/data-entry-entity/measure-value/MeasureValue.scss';
@import './small-device.scss';

.rayg-status {
  &.rayg-block {
    width: 28px;
    height: 28px;
    display: inline-block;
    border: none;
  }

  &.red {
    background-color: #D4351C;
  }

  &.amber {
    background-color: #F47738;
  }

  &.yellow {
    background-color: #FFDD00;
  }

  &.green {
    background-color: #00703C;
  }
}

.govuk-width-container {
  max-width: 100%;
  margin-left: 20px;
  margin-right: 20px;
}

.govuk-phase-banner, .govuk-main-wrapper  {
  margin-left: 20px;
  margin-right: 20px;
}

.govuk-header__container {
  padding-top: 13px;
  padding-bottom: 2px;
}

.govuk-header__container {
  border-color: #FA0738;
}

.govuk-header__content nav {
  float: right;
}

.logout-item a {
  font-weight: normal;
}

.navigation {
  background-color: #f3f2f1;
  padding-top: 10px;
  padding-left: 24px;
  padding-right: 24px;
}

li.govuk-header__navigation-item.govuk-header__navigation-item--active {
  border-bottom: 5px solid #1d70b8;
  margin-bottom: -1px;
  padding-bottom: 10px;
}

.pull-right {
  float: right;
}

a.govuk-header__link.nav {
  color: #2364AB;
}

a.govuk-header__link.child-nav {
    color: #2364AB;
    font-weight: normal;
}

.child-item.govuk-header__navigation-item.govuk-header__navigation-item--active > a {
   color: #000000;
}

li.govuk-header__navigation-item.child-item, li.govuk-header__navigation-item {
    margin-right: 25px;
}

li.govuk-header__navigation-item.child-item:last-child, li.govuk-header__navigation-item:last-child {
    margin-right: 0px;
}

.cabinet-office__logotype-image {
    width: 165px;
    height: 32px;
    margin-top: 2px;
}

.child-navigation {
    padding-left: 24px;
    padding-right: 24px;
}

ul#childNavigation {
    border-bottom: 1px solid #b1b4b6;
    display: inline-block;
}

.timer {
    display: inline;
    color: #000;
    margin-left: 15px;
}

#countdown {
    background-color: black;
    font-size: 16px;
    padding: 4px 6px;
    margin-left: 5px;
    color: white;
}
