@media only screen and (max-width:768px) {

    .top-statements {
        height: auto;
    } 

    // Readiness Overview
    .readiness-overview {
        .govuk-grid-column-one-quarter,
        .govuk-grid-column-three-quarters {
        width: 100%;
        }
    
        .risk-col {
            border-left: none;
        }
    
        .overview-link {
            font-weight: normal;
            display: inline !important;
        }
    
        #themes {
            margin-top: 20px;
        }
    }

    // Themes
    #readiness-theme-page {
        .govuk-grid-column-one-quarter,
        .govuk-grid-column-three-quarters,
        .govuk-grid-column-one-half {
        width: 100%;
      } 

    #column-sub-statements, #theme-tableu-placeholder, .hide-statement {
        display: none;
    }

    .show-statement, .show-measure {
        display: block !important;
    }

    @media only screen and (max-width:640px) {
        .theme-name.theme-red::before,
        .theme-name.theme-amber::before,
        .theme-name.theme-green::before,
        .theme-name.theme-yellow::before {
            top: 3px;
        }
    }
  }
}