@media only screen and (max-width:768px) {

    // Readiness Overview
    .readiness-overview {
        .govuk-grid-column-one-quarter,
        .govuk-grid-column-three-quarters {
        width: 100%;
        }

        .top-statements {
            height: auto;
        }
    
        .risk-col {
            border-left: none;
        }
    
        .overview-link {
            font-weight: normal;
            display: inline !important;
        }
    
        #themes {
            margin-top: 20px;
        }
    }

    // Themes

    #readiness-theme-page {
        .govuk-grid-column-one-quarter,
        .govuk-grid-column-three-quarters,
        .govuk-grid-column-one-half {
        width: 100%;
      } 
    }

    #column-sub-statements, #theme-tableu-placeholder {
        display: none;
    }

    .show-statement {
        display: block !important;
        #column-statements {
            display: none;
        }
    }

    .show-measure {
        display: block !important;
    }
}