{{ govukSummaryList({
  rows: [
    {
      key: {
        text: "Field area"
      },
      value: {
        text: data.group | default('') | string
      },
      actions: {
        items: [
          {
            href: "{{ editUrl }}",
            text: "Change",
            visuallyHiddenText: "field area"
          }
        ]
      }
    },
    {
      key: {
        text: "Field name"
      },
      value: {
        text: data.displayName | default('') | string
      },
      actions: {
        items: [
          {
            href: "{{ editUrl }}",
            text: "Change",
            visuallyHiddenText: "field name"
          }
        ]
      }
    },
    {
      key: {
        text: "Spreadsheet column name this fields corresponds to"
      },
      value: {
        text: data.importColumnName | default('') | string
      },
      actions: {
        items: [
          {
            href: "{{ editUrl }}",
            text: "Change",
            visuallyHiddenText: "spreadsheet column name this fields corresponds to"
          }
        ]
      }
    },
    {
      key: {
        text: "Field description"
      },
      value: {
        html: data.description | default('') | string
      },
      actions: {
        items: [
          {
            href: "{{ editUrl }}",
            text: "Change",
            visuallyHiddenText: "field description"
          }
        ]
      }
    },
    {
      key: {
        text: "Field type"
      },
      value: {
        text: data.type | default('') | string
      },
      actions: {
        items: [
          {
            href: "{{ editUrl }}",
            text: "Change",
            visuallyHiddenText: "field type"
          }
        ]
      }
    },
    {
      key: {
        text: "Is this field mandatory?"
      },
      value: {
        text: "Yes" if (data.isRequired == 1) else "No"
      },
      actions: {
        items: [
          {
            href: "{{ editUrl }}",
            text: "Change",
            visuallyHiddenText: "is this field mandatory?"
          }
        ]
      }
    }
  ]
}) }}
