<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

    {{ govukPanel({
    titleText: "Field submitted to dashboard"
    }) }}

    <hr class="govuk-section-break govuk-section-break--m">
    <p class="govuk-body">
    <strong>What next?</strong><br>
    <a href="{{ config.paths.admin.projectFieldList }}" class="govuk-link">View field on live dashboard</a>
    </p>

    </div>
</div>