{% extends "template.njk" %}

{% block pageTitle %}{{ index }}{% endblock %}

{% block content %}

{% if flash %}
  {{ flash }}
{% endif %}

{% if errors | length %}
  {% if errors.projectColumnErrors %}
    <table width="100%">
      {% for error in errors.projectColumnErrors %}
        <tr>
          <td>{{ error.error }}</td>
        </tr>
      {% endfor %}
    </table>
  {% endif %}

  <br><br>

  {% if errors.milestoneColumnErrors %}
    <table width="100%">
      {% for error in errors.milestoneColumnErrors %}
        <tr>
          <td>{{ error.error }}</td>
        </tr>
      {% endfor %}
    </table>
  {% endif %}

  <br><br>

  {% if errors.projectErrors %}
    <table width="100%">
      <tr>
        <td>Project UID</td>
        <td>Column Name</td>
        <td>Value</td>
        <td>Error</td>
      </tr>
      {% for error in errors.projectErrors %}
        <tr>
          <td>{{ error.item.uid }}</td>
          <td>{{ error.itemDefinition.miTemplateColumnName }}</td>
          <td>{{ error.item[error.itemDefinition.name] }}</td>
          <td>{{ error.error }}</td>
        </tr>
      {% endfor %}
    </table>
  {% endif %}

  <br><br>

  {% if errors.milestoneErrors %}
    <table width="100%">
      <tr>
        <td>Milestone UID</td>
        <td>Column Name</td>
        <td>Value</td>
        <td>Error</td>
      </tr>
      {% for error in errors.milestoneErrors %}
        <tr>
          <td>{{ error.item.uid }}</td>
          <td>{{ error.itemDefinition.miTemplateColumnName }}</td>
          <td>{{ error.item[error.itemDefinition.name] }}</td>
          <td>{{ error.error }}</td>
        </tr>
      {% endfor %}
    </table>
  {% endif %}

  <form action='{{ url }}' method='POST'>
    <input type="hidden" name="importId" value="{{ importId }}" />
    <input type="submit" name="cancel" value="Cancel" />
  </form>
{% else %}

  Total projects: {{ projects | length }}
  <br><br>
  Total milestones: {{ milestones | length }}

  <form action='{{ url }}' method='POST'>
    <input type="hidden" name="importId" value="{{ importId }}" />
    <input type="submit" name="import" value="Import" />
    <input type="submit" name="cancel" value="Cancel" />
  </form>


{% endif %}

{% endblock %}