{% extends "template.njk" %}

{% block pageTitle %}Categories{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Categories</h1>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

  <table class="govuk-table">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">Name</th>
        <th scope="col" class="govuk-table__header"></th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
    {% for category in getCategories() | await %}
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">
          {{ category.name }}
        </td>
        <td class="govuk-table__cell">
          <a href="{{ config.paths.admin.categoryFieldList + '/' + category.id }}" class="govuk-link">View</a>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>

 </div>
</div>

{% endblock %}