<table class="govuk-table measures-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Measure UID</th>
      <th scope="col" class="govuk-table__header">Theme</th>
      <th scope="col" class="govuk-table__header">Status</th>
      <th scope="col" class="govuk-table__header">Last updated</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">{{ latestMeasure.metricID }}</td>
      <td class="govuk-table__cell">{{ latestMeasure.theme }}</td>
      <td class="govuk-table__cell "><span class="measure-rayg {{ latestMeasure.colour }}"></span></td>
      <td class="govuk-table__cell">{{ latestMeasure.date }}</td>
    </tr>
  </tbody>
</table>

{{ govukTabs({
  items: [
    {
      label: "Data entries",
      id: "data-entries",
      panel: {
        html: dataEntriesContent(groupedMeasures, url, req.params.metricId, data, formFields)
      }
    },
    {
      label: "Measure information",
      id: "measure-information",
      panel: {
        html: measureInformation(latestMeasure, url, req.params.metricId, postData)
      }
    }
  ]
}) }}