{% set isPartOfGroup = uniqMetricIds | length > 1 %}
{% set editValueUrl = config.paths.dataEntryEntity.measureValue %}

{% if isPartOfGroup %}
  <table class="govuk-table">
    <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">Group Description</th>
        <td class="govuk-table__cell">{{ raygEntity.groupDescription }}</td>
      </tr>
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">Group Status</th>
        <td class="govuk-table__cell"><span class="measure-rayg {{ raygEntity.colour }}"></span></td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell" colspan="2">
          <a class="govuk-link" href="{{ config.paths.dataEntryEntity.measureGroup }}/{{ raygEntity.groupID }}">
            Edit group
          </a>
        </td>
      </tr>
    </tbody>
  </table>
{% endif %}

{{ measureHeading(latestMeasure, raygEntity, isPartOfGroup) }}

{% set items = [] %}

{% if not latestMeasure.commentsOnly %}
  {% set items = (items.push({
      label: "Data entries",
      id: "data-entries",
      panel: {
        html: dataEntriesContent(groupedMeasures, addUrl, data, formFields, editValueUrl, displayRaygValueCheckbox)
      }
    }), items) %}
{% endif %}

{% set items = (items.push({
  label: "Measure information",
  id: "measure-information",
  panel: {
    html: measureInformation(latestMeasure, editUrl, postData, displayOverallRaygDropdown, raygEntity.value)
  }
}), items) %}

{{ govukTabs({
  items: items
}) }}
