{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

<div class="govuk-grid-column-two-thirds">

  <h1 class="govuk-heading-l">Has this file been signed off?</h1>

  {{ govukWarningText({
    text: "Before editing any data in the dashboard, you must ensure it has been signed off by the Senior Reporting Officer.",
    iconFallbackText: "Warning"
  }) }}

  {{ govukRadios({
    idPrefix: "sign-off",
    name: "sign-off",
    items: [
      {
        value: "yes",
        text: "Yes",
        checked: true
      },
      {
        value: "no",
        text: "No"
      }
    ]
  }) }}

  {{ govukButton({
    classes: "continueBtn",
    text: "Continue",
    href: editModeUrl
  }) }}

</div>

