{% from "govuk/components/button/macro.njk" import govukButton %}

<h1 class="govuk-heading-xl">Verified</h1>

<p class="govuk-body">From now on, you can use Google Authenticator to log in to the Transition Readiness Dashboard.</p>

{{ govukButton({
  text: "Update password",
  href: config.paths.authentication.passwordReset
}) }}