{{ govukTable({
  head: [
    {
      text: "Milestone UID"
    },
    {
      text: "Milestone Description"
    },
    {
      text: "Due date"
    },
    {
      text: "Latest comment"
    }
  ],
  rows: [
    [
      {
        text: "January"
      },
      {
        text: "£85"
      },
      {
        text: "95"
      },
      {
        text: "95"
      }
    ],
    [
      {
        text: "February"
      },
      {
        text: "£75"
      },
      {
        text: "£65"
      },
      {
        text: "95"
      }
    ],
    [
      {
        text: "March"
      },
      {
        text: "£65"
      },
      {
        text: "£42"
      },
      {
        text: "95"
      }
    ]
  ]
}) }}