    {{ govukTable({
    head: [
      {
        text: "Milestone UID"
      },
      {
        text: "Milestone Description"
      },
      {
        text: "Due date"
      },
      {
        text: "Latest comment"
      }
    ],
    rows: content
}) }}