{{ govukTable({
  rows: [
    [
      {
        text: data.project_name
      },
      {
        text: data.department
      },
      {
        html: "<span class=" + cellBlock + data.impact + ">" + data.impact + "</span>"
      },
      {
        html: "<span class=" + cellBlock + data.hmg_confidence + ">" + data.hmg_confidence + "</span>"
      },
      {
        html: "<span class=" + cellBlock + data.citizen_readiness + ">" + data.citizen_readiness + "</span>"
      },
      {
        html: "<span class=" + cellBlock + data.business_readiness + ">" + data.business_readiness + "</span>"
      },
      { 
        html: "<span class=" + cellBlock + data.eu_state_confidence + ">" + data.eu_state_confidence + "</span>"
      }
    ]
  ]
}) }}