{{ govukTable({
  head: [
    {
      text: "Project name"
    },
    {
      text: "Department"
    },
    {
      text: "Impact"
    },
    {
      text: "HMG confidence"
    },
    {
      text: "Citizen readiness"
    },
    {
      text: "Business readiness"
    },
    {
      text: "EU state confidence"
    }
  ]
}) }}