{{ govukTable({
  rows: [
    [
      {
        text: "January"
      },
      {
        text: "£85"
      },
      {
        text: "£95"
      },
      {
        text: "January"
      },
      {
        text: "£85"
      },
      {
        text: "£95"
      },
      {
        text: "£95"
      }
    ]
  ]
}) }}