{{ govukAccordion({
  id: "accordion-table",
  items: [
    {
      summary: {
        html: headerHtml
      }
    },
    {
      summary: {
        html: sectionHtml
      },
      content: {
        html: contentHtml
      }
    },
    {
      summary: {
        html: sectionHtml
      },
      content: {
        html: contentHtml
      }
    }
  ]
}) }}