.top-statements {
    height: 100vh;
    overflow-y: scroll;
}

.statement {
    background-color: #f3f2f1;
    padding: 10px 5px 5px 10px;
    margin-bottom: 2px;
}

.statement:hover, .active-statement {
    background-color: white;
	background: url(/assets/images/arrow.png) 96% 10px no-repeat white;
}

.statement-link {
    text-decoration: none;
}

.no-horizontal-padding {
    padding-left: 0;
    padding-right: 0;
}

.govuk-accordion:not(.accordion-level-1) .section-red,
.red {
    border-left: 10px solid #d4351c;
}

.govuk-accordion:not(.accordion-level-1) .section-amber,
.amber {
    border-left: 10px solid #f47738;
}

.govuk-accordion:not(.accordion-level-1) .section-green ,
.green {
    border-left: 10px solid #00703c;
}

.govuk-accordion:not(.accordion-level-1) .section-yellow ,
.yellow {
    border-left: 10px solid #ffdd00;
}

.readiness-accordion-wrapper {
    .govuk-accordion__section-content {
        padding-top: 0;
        padding-bottom: 0
    }

    .govuk-accordion__section-header {
        border-top: none;
        margin-bottom:2px;
        background-color: #f3f2f1;
    }

    .govuk-accordion__section--expanded > .govuk-accordion__section-header {
        background-color: #ffffff;
    }

    .govuk-accordion__section-header:hover {
        background-color: white;
        text-decoration: none;
        .govuk-accordion__section-button   {
            text-decoration: none;
        }
    }

    .govuk-accordion__section-button:focus {
        box-shadow: none;
        background-color: transparent;
    }

    .govuk-accordion {
        margin-bottom: 0;
        border-bottom: none;

        &:not(.accordion-level-1) {
            .govuk-accordion__section-header {
                padding-left: 10px;
            }

            .govuk-accordion__section-content {
                margin-left: 5px;
            }
        }

        .last-level-expandable .govuk-accordion__section-content {
            margin: -2px 0 2px 0;
            position: relative;
            background-color: #f3f2f1;
        }

        .last-level-expandable > .govuk-accordion__section-header {
            background-color: #f3f2f1;
        }
    }

    .accordion-level-1 {
        > .govuk-accordion__section--expanded > .govuk-accordion__section-header {
            background-color: #ffffff;
        }

        .section-header-1 {
            .govuk-accordion__section-button {
                padding-left: 20px;

                &::before {
                    content: "";
                    width: 18px;
                    height: 18px;
                    display: inline-block;
                    margin-right: 10px;
                }
            }
        }
    }

    .govuk-accordion__section--expanded .govuk-accordion__icon:after {
        display: block;
    }

    .govuk-accordion__section--expanded button[aria-expanded="true"] .govuk-accordion__icon:after {
        display: none;
    }

    .outcome-measures {
        margin-top: 0;
        padding: 0;
        list-style-type: none;
    }

    .outcome-measure__item {
        padding: 10px 26px;
        position: relative;

        &::before {
            content: "";
            width: 14px;
            height: 14px;
            position: absolute;
            left: 6px;
            top: 12px;
        }
    }

    .outcome-measure__item--active, .outcome-measure__item:hover {
        background-color: white;

        &:after {
            content: url('/assets/images/arrow.png');
            position: absolute;
            top: 12px;
            right: 10px;
        }
    }

    .outcome-measure__link {
        text-decoration: none;
        color: #0b0c0c;
        display: block;
    }

    .comments-only-measure {
        font-style: italic;
    }
}

.comments-only {
    color: #505a5f;
    margin-bottom: 2px;
    font-size: 12px;
    font-style: normal;
}

.js-enabled .govuk-accordion__section--expanded .govuk-accordion__section-content {
    display: none;
}

.js-enabled .govuk-accordion__section--expanded > .govuk-accordion__section-content {
    display: block;
}

.theme-name {
    padding: 0px 26px;
    position: relative;
    margin-bottom: 5px;

    &::before {
        content: "";
        width: 18px;
        height: 18px;
        position: absolute;
        left: 3px;
        top: 18px;
    }
}

.theme-description {
    margin-bottom: 30px;
}

.theme-name.theme-red::before,
.section-red .govuk-accordion__section-button::before,
.outcome-measure__item.item-red::before {
    background-color: #d4351c
}

.theme-name.theme-amber::before,
.section-amber .govuk-accordion__section-button::before,
.outcome-measure__item.item-amber::before {
    background-color: #f47738
}

.theme-name.theme-green::before,
.section-green .govuk-accordion__section-button::before,
.outcome-measure__item.item-green::before {
    background-color: #00703c
}

.theme-name.theme-yellow::before,
.section-yellow .govuk-accordion__section-button::before,
.outcome-measure__item.item-yellow::before {
    background-color: #ffdd00
}

.tableu-message,
.measures-message {
    border: 1px solid #979797;
    padding: 50px 15%;
    width: 100%;
    text-align: center;
    color: #d8d8d8;
    box-sizing: border-box;
}

.tableu-message {
    padding:50px 50px 50px 50px;
    width: 100%;
}

.theme-tableu {
    width: 700px;
    height: 750px;
    border: 0;
}

.overflow-scroll {
    overflow: scroll;
}

.left-spacing {
    margin-left: 0px;
}