{% extends "template.njk" %}
{% from "readiness-accordion.njk" import buildOutcomeMeasures %}

{% block pageTitle %}Theme{% endblock %}

{% block content %}

{% set topOutcomes = topLevelOutcomeStatements() | await %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-one-quarter no-horizontal-padding top-statements">
  {% for topOutcome in topOutcomes %}
  <a href="{{ topOutcome.link }}" class="statement-link">
    <div class="statement {{ topOutcome.color }} {{ 'active-statement' if topOutcome.active }}">
        <h2 class="govuk-heading-s">{{ topOutcome.name }}
        {% if topOutcome.active %} <img src='/assets/images/arrow.png' class='active' alt='active' /> {% endif %}
        </h2>
        <p class="govuk-body govuk-!-font-size-16">{{ topOutcome.description }}</p>
    </div>
   </a> 
  {% endfor %}
  </div>

  <div class="govuk-grid-column-one-quarter no-horizontal-padding top-statements">
    {% if subOutcomeData %}
      <div class="readiness-accordion-wrapper" >
        {{ buildOutcomeMeasures(subOutcomeData, 1) }}
      </div>
    {% else %}
      <h2 class="govuk-heading-s measures-message">To view data, select an outcome statement</h4>
    {% endif %}
  </div>

  <div class="govuk-grid-column-one-half">
    <p>govuk-grid-column-one-half</p>
  </div>

</div>


{% endblock %}

