{% extends "template.njk" %}
{% from "readiness-accordion.njk" import buildOutcomeMeasures %}

{% set data = data() | await %}

{% block pageTitle %}Theme{% endblock %}

{% block content %}

<div class="govuk-grid-row left-spacing" id="readiness-theme-page" data-theme-id="{{ req.params.theme }}">

  <h1 class="govuk-heading-xl theme-{{ data.theme.color }} theme-name">{{ data.theme.name }}</h1>
  <span class="govuk-caption-l theme-description">{{ data.theme.description }}</span>

  <div class="govuk-grid-column-one-quarter no-horizontal-padding top-statements" id="column-statements">
  {% for topOutcome in data.topLevelOutcomeStatements %}
  <a href="{{ topOutcome.link }}" class="statement-link">
    <div class="statement {{ topOutcome.color }} {{ 'active-statement' if topOutcome.active }}">
        <h2 class="govuk-heading-s">{{ topOutcome.name }}
        {% if topOutcome.active %} <img src='/assets/images/arrow.png' class='active' alt='active' /> {% endif %}
        </h2>
        <p class="govuk-body govuk-!-font-size-16">{{ topOutcome.description }}</p>
    </div>
   </a>
  {% endfor %}
  </div>

  <div class="govuk-grid-column-one-quarter no-horizontal-padding top-statements" id="column-sub-statements">
    {% if data.subOutcomeStatementsAndDatas | length > 0 %}
      <div class="readiness-accordion-wrapper" >
        {{ buildOutcomeMeasures(data.subOutcomeStatementsAndDatas, 1, req.params.statement) }}
      </div>
    {% else %}
      <h2 class="govuk-heading-s measures-message">To view data, select an outcome statement</h4>
    {% endif %}
  </div>

  <div class="govuk-grid-column-one-half overflow-scroll">
  {% if not data.iframeUrl.error and not data.iframeUrl.url %}
    <p class="govuk-body govuk-!-font-weight-bold tableu-message">To view data, select a metric or measure</p>
  {% elseif data.iframeUrl.error %}
    <p class="govuk-body govuk-!-font-weight-bold tableu-message">There has been an error accessing this data, please contact The Transition Taskforce Dashboard Team</p>
  {% else %}
    <iframe src="{{ data.iframeUrl.url }}" class="theme-tableu"></iframe>
  {% endif %}
  </div>

</div>


{% endblock %}

