<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Department</th>
      <th scope="col" class="govuk-table__header">Project title</th>
      <th scope="col" class="govuk-table__header">Milestone description</th>
      <th scope="col" class="govuk-table__header">Due date</th>
      <th scope="col" class="govuk-table__header">Impact rating</th>
      <th scope="col" class="govuk-table__header">HMG Delivery Confidence</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
  {% for meta in data.meta %}
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">{{ meta.departmentName }}</td>
      <td class="govuk-table__cell">{{ meta.title }}</td>
      <td class="govuk-table__cell">{{ meta.milestoneDescription }}</td>
      <td class="govuk-table__cell">{{ meta.date }}</td>
      <td class="govuk-table__cell">{{ meta.impact }}</td>
      <td class="govuk-table__cell">{{ meta.hmgConfidence }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>