.rag-red {
    border: 1px solid #d4351c;
    background-color: #d4351c;
    padding: 4px 14px 4px 14px;
}

.rag-amber {
    border: 1px solid #f47738;
    background-color: #f47738;
    padding: 4px 14px 4px 14px;
}

.rag-yellow {
    border: 1px solid #ffdd00;
    background-color: #ffdd00;
    padding: 4px 14px 4px 14px;
}

.rag-green {
    border: 1px solid #00703c;
    background-color: #00703c;
    padding: 4px 14px 4px 14px;
}

.rag-grey {
    border: 1px solid #b1b4b6;
    background-color: #b1b4b6;
    padding: 4px 14px 4px 14px;
}