{% extends "template.njk" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/table/macro.njk" import govukTable %}

{% block beforeContent %}
{% include "feedback.njk" %}
{{ govukBackLink({
  text: "Back",
  href: "#",
  attributes: {
    onclick: "history.go(-1);"
  }
}) }}
{% endblock %}

{% block pageTitle %}RAYG Definitions{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">

  <h1 class="govuk-heading-l">Understanding the RAYG status
    <span class="govuk-caption-l">An explanation for how the various status are calculated and applied to themes, outcome statements and measure.</span></h1>

    <table class="govuk-table">
    <thead class="govuk-table__head">
        <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">Status</th>
        <th scope="col" class="govuk-table__header">Definition</th>
        </tr>
    </thead>
    <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
        <td class="govuk-table__cell"><span class='rag-red'></span></td>
        <td class="govuk-table__cell">High risk</td>
        </tr>
        <tr class="govuk-table__row">
        <td class="govuk-table__cell"><span class='rag-amber'></span></td>
        <td class="govuk-table__cell">Medium risk</td>
        </tr>
        <tr class="govuk-table__row">
        <td class="govuk-table__cell"><span class='rag-yellow'></span></td>
        <td class="govuk-table__cell">Low risk</td>
        </tr>
        <tr class="govuk-table__row">
        <td class="govuk-table__cell"><span class='rag-green'></span></td>
        <td class="govuk-table__cell">Minimal/Low risk</td>
        </tr>
        <tr class="govuk-table__row">
        <td class="govuk-table__cell"><span class='rag-grey'></span></td>
        <td class="govuk-table__cell">Unassigned risk status</td>
        </tr>
    </tbody>
    </table>

    <h3 class="govuk-heading-m">How RAYG statuses are calculated</h3>

    <p class="govuk-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque facilisis elit efficitur lectus porta, in fermentum felis imperdiet. Mauris vestibulum nisl diam, quis iaculis ligula auctor id. Phasellus consequat fringilla enim eget pellentesque. Duis porttitor tempus dui, sit amet tempus felis faucibus ac. Morbi at quam erat. Nulla a suscipit tortor. Proin sed tristique augue. Donec hendrerit posuere justo, eu ornare ante aliquam eget. Duis et commodo purus, vitae posuere erat. Mauris vulputate augue in lacus bibendum, eget venenatis mauris vestibulum. Sed tristique felis in purus consectetur, nec fermentum augue bibendum. Quisque volutpat sapien non mi imperdiet, ac blandit nisi vehicula. Ut iaculis mauris in scelerisque congue. Sed auctor, urna sit amet auctor laoreet, ex tellus finibus magna, eget aliquam arcu metus ac tortor. Donec eget sem vitae dui eleifend convallis et quis lectus. Nullam sollicitudin euismod lorem, quis sagittis leo rhoncus et.</p>

    <h4 class="govuk-heading-s">Sub heading as required</h4>

    <p class="govuk-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque facilisis elit efficitur lectus porta, in fermentum felis imperdiet. Mauris vestibulum nisl diam, quis iaculis ligula auctor id. Phasellus consequat fringilla enim eget pellentesque. Duis porttitor tempus dui, sit amet tempus felis faucibus ac. Morbi at quam erat. Nulla a suscipit tortor. Proin sed tristique augue. Donec hendrerit posuere justo, eu ornare ante aliquam eget. Duis et commodo purus, vitae posuere erat. Mauris vulputate augue in lacus bibendum, eget venenatis mauris vestibulum. Sed tristique felis in purus consectetur, nec fermentum augue bibendum. Quisque volutpat sapien non mi imperdiet, ac blandit nisi vehicula. Ut iaculis mauris in scelerisque congue. Sed auctor, urna sit amet auctor laoreet, ex tellus finibus magna, eget aliquam arcu metus ac tortor. Donec eget sem vitae dui eleifend convallis et quis lectus. Nullam sollicitudin euismod lorem, quis sagittis leo rhoncus et.</p>

 </div>
</div>

{% endblock %}
