{% if data.error | default(measure.error) %}
  {{ govukErrorSummary({
    titleText: data.error | default(measure.error)
  }) }}
{% else %}

  {% if flash %}
    {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: [{
          html: flash,
          href: "#"
        }]
    }) }}
  {% endif %}

  <h1 class="govuk-heading-xl">{{ data.groupDescription | default(measure.groupDescription) }}</h1>

  <form action='{{ editUrl }}' method='POST'>
    {{ govukTextarea({
      name: "groupDescription",
      id: "groupDescription",
      label: {
        text: "Description",
        classes: "govuk-label--s"
      },
      value: data.groupDescription | default(measure.groupDescription)
    }) }}

    {{ govukSelect({
      id: "value",
      name: "value",
      label: {
        text: "RAYG Status"
      },
      items: [
        {
          value: 1,
          text: "Red",
          selected: true if data.value == 1 or measure.value == 1
        },
        {
          value: 2,
          text: "Amber",
          selected: true if data.value == 2 or measure.value == 2
        },
        {
          value: 3,
          text: "Yellow",
          selected: true if data.value == 3 or measure.value == 3
        },
        {
          value: 4,
          text: "Green",
          selected: true if data.value == 4 or measure.value == 4
        }
      ]
    }) }}

    {{ govukButton({
    text: "Save",
    name: "save",
    value: "save",
    type: "submit",
    preventDoubleClick: true
    }) }}
  </form>
{% endif %}