{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{{ govukErrorSummary({
  titleText: "Fix the following",
  errorList: [
    {
      text: "Your 6-digit code is incorrect, please try again",
      href: "#sixDigit"
    }
  ]
}) }}