{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/details/macro.njk" import govukDetails %}

<h1 class="govuk-heading-xl">Sign in to the Transition Delivery Dashboard</h1>

{% if flash %}
    {% include "authentication/partials/auth-error.njk" %}
{% endif %}

<form action="{{ url }}" method="post">

  {{ govukInput({
  label: {
    html: "<strong>Username</strong>"
  },
  classes: "govuk-input--width-20",
  id: "username",
  name: "email"
  }) }}

  {{ govukInput({
    label: {
    html: "<strong>Password</strong>"
    },
    classes: "govuk-input--width-20",
    id: "password",
    name: "password",
    type: "password"
  }) }}

  {{ govukButton({
  text: "Sign in",
  type: "submit",
  preventDoubleClick: true
  }) }}

</form>

{{ govukDetails({
  summaryText: "Problems signing in?",
  html: "<p class='govuk-body'>If you have forgotten your username or password you will need to contact us in order to reset your details.</p>
  <p class='govuk-body'>Please get in touch with us at <a class='govuk-link' href='mailto:ttf-portfoliodashboard@cabinetoffice.gov.uk'>ttf-portfoliodashboard@cabinetoffice.gov.uk</a></p>"
}) }}