{% if form.businessReadiness %} 
{% set businessReadiness = form.businessReadiness %}
{% else %} 
{% set businessReadiness = [] %}
{% endif %}

{{ govukCheckboxes({
  idPrefix: "business-readiness",
  name: "businessReadiness",
  items: [
    {
      value: "0",
      text: "0 - Very low confidence",
      checked: businessReadiness == '0',
      checked: '0' in businessReadiness
    },
    {
      value: "1",
      text: "1 - Low confidence",
      checked: businessReadiness == '1',
      checked: '1' in businessReadiness
    },
    {
      value: "2",
      text: "2 - Medium confidence",
      checked: businessReadiness == '2',
      checked: '2' in businessReadiness
    },
    {
      value: "3",
      text: "3 - High confidence",
      checked: businessReadiness == '3',
      checked: '3' in businessReadiness
    }
  ]
}) }}
