{{ govukCheckboxes({
  idPrefix: "citizen-readiness",
  name: "citizenReadiness[]",
  items: [
    {
      value: "0",
      text: "0 - Very low confidence"
    },
    {
      value: "1",
      text: "1 - Low confidence"
    },
    {
      value: "2",
      text: "2 - Medium confidence"
    },
    {
      value: "3",
      text: "3 - High confidence"
    }
  ]
}) }}