{{ govukInput({
  label: {
    text: "From"
  },
  classes: "govuk-input--width-10",
  hint: {
    html: "For example, " + fromDate
  },
    id: "fromDate",
    name: "filters[date][from]",
    value: data.filters.date.from
}) }}
{{ govukInput({
  label: {
    text: "To"
  },
  classes: "govuk-input--width-10",
  hint: {
    text: "For example, " + toDate
  },
    id: "toDate",
    name: "filters[date][to]",
    value: data.filters.date.to
}) }}