{% set currentYear %}
01/01/2020 {# year will be year dynamic / todo #}
{% endset -%}

{% set nextYear %}
01/01/2021 {# year will be year dynamic / todo #}
{% endset -%}

{% if form.fromDate %} 
{% set fromDate = form.fromDate %}
{% else %} 
{% set fromDate = currentYear %}
{% endif %}

{% if form.toDate %} 
{% set toDate = form.toDate %}
{% else %} 
{% set toDate = nextYear %}
{% endif %}

{{ govukInput({
  label: {
    text: "From"
  },
  classes: "govuk-input--width-10",
  hint: {
    html: "For example, " + currentYear
  },
    id: "fromDate",
    name: "fromDate",
    value: fromDate
}) }}
{{ govukInput({
  label: {
    text: "To"
  },
  classes: "govuk-input--width-10",
  hint: {
    text: "For example, " + nextYear
  },
    id: "toDate",
    name: "toDate",
    value: toDate
}) }}
