{{ govukInput({
  label: {
    text: "From"
  },
  classes: "govuk-input--width-10",
  hint: {
    html: "For example, " + fromDate
  },
    id: "fromDate",
    name: "filters[milestones][due_date][]",
    value: data.filters.milestones.due_date[0] 
}) }}
{{ govukInput({
  label: {
    text: "To"
  },
  classes: "govuk-input--width-10",
  hint: {
    text: "For example, " + toDate
  },
    id: "toDate",
    name: "filters[milestones][due_date][]",
    value: data.filters.milestones.due_date[1]
}) }}