{% set fromDate = "01/01/" + currentDate | date("YYYY") %}
{% set toDate = "01/01/" + currentDate | date("add", 1, "year") | date("YYYY") %}

{{ govukInput({
  label: {
    text: "From"
  },
  classes: "govuk-input--width-10",
  hint: {
    html: "For example, " + fromDate
  },
    id: "fromDate",
    name: "filters[milestones][due_date][]",
    value: data.filters.milestones.due_date[0] | default(fromDate)
}) }}
{{ govukInput({
  label: {
    text: "To"
  },
  classes: "govuk-input--width-10",
  hint: {
    text: "For example, " + toDate
  },
    id: "toDate",
    name: "filters[milestones][due_date][]",
    value: data.filters.milestones.due_date[1] | default(toDate)
}) }}