<div class='filter-nav date'>
    <ul class="govuk-header__navigation" aria-label="Top Level Date Filters">
        <li class="govuk-header__navigation-item govuk-header__navigation-item">
            Between &nbsp;<span class="filter-block">{{ formatDate(data.filters.date[0]) }}</span>

        </li>
    </ul>
</div>

<div class='filter-nav date'>
    <ul class="govuk-header__navigation" aria-label="Top Level Date Filters">
        <li class="govuk-header__navigation-item govuk-header__navigation-item">
        and &nbsp;
            <span class="filter-block">{{ formatDate(data.filters.date[1])  }}</span>
        </li>
    </ul>
</div>