<div class="filter-nav">
  <nav>
    <ul class="govuk-header__navigation" aria-label="Top Level Filters">
      <li class="govuk-header__navigation-item govuk-header__navigation-item">
        {% set filterNames = (filterNames.push (filter.name), filterNames) %}
        <span class="filter-block">{{ option.value }}</span>
      </li>
    </ul>
  </nav>
</div>
