{% set filterNames = [] %}
{% set summary = [] %}

{% set dateList %}
{% include "all-data/partials/filters/date-list.njk" %}
{% endset %}

{% if (data.filters | length) %}
  <h3 class="govuk-heading-s">Selected filters</h3>
{% endif %}

{% if (data.filters['date']) %}
 {% set summary = (summary.push ({
    key: {
      html: "<span class='date-name'>Showing milestone due dates </span>"
    },
    value: {
      html: dateList
    }
  }), summary)
%}
{% endif %}

  {% for key, filter in filters.entries() %}
    {%- set filterSummary  %}
      {% for option in filter.options %}
        {% for opt in data.filters[filter.id] %}
          {% if opt == option.value %}
            {% set filterNames = (filterNames.push (filter.id), filterNames) %}
            <div class="filter-nav">
              <nav>
                <ul class="govuk-header__navigation" aria-label="Top Level Filters">
                  <li class="govuk-header__navigation-item govuk-header__navigation-item">
                    {% set filterNames = (filterNames.push (filter.name), filterNames) %}
                    <form action="{{ url }}" method="post">
                      <input type="hidden" name="filterId" value="{{ filter.id }}" />
                      <input type="hidden" name="optionValue" value="{{ option.value }}" />

                      {{ govukButton({
                        html: "<img src='/assets/images/cross.png' class='cross' alt='delete-filter' />" + applyFormatting(filter, option.value),
                        classes: "govuk-button--secondary filterBtn"
                      }) }}
                    </form>
                  </li>
                </ul>
              </nav>
            </div>
          {% endif %}
        {% endfor %}
      {% endfor %}
    {% endset -%}

      {% if filter.id in filterNames %}
            {% set summary = (summary.push ({
            key: {
              html: "<span class='filter-name'>" + filter.name | escape + "</span>"
            },
            value: {
              html: filterSummary
            }
          }), summary)
        %}
      {% endif %}
    {% endfor %}

{{ govukSummaryList({
    classes: 'filter-list',
    rows: summary
}) }}