<ul class="govuk-header__navigation" aria-label="Top Level Filters">
    <li class="govuk-header__navigation-item govuk-header__navigation-item">
        <span class="filter-block">{{item}}</span>
    </li>
</ul>