{% if form.impact %} 
{% set impact = form.impact %}
{% else %} 
{% set impact = [] %}
{% endif %}

{{ govukCheckboxes({
  idPrefix: "impact",
  name: "impact",
  items: [
    {
      value: "0",
      text: "0 - Very high impact",
      checked: impact == '0',
      checked: '0' in impact
    },
    {
      value: "1",
      text: "1 - High impact",
      checked: impact == '1',
      checked: '1' in impact
    },
    {
      value: "2",
      text: "2 - Medium impact",
      checked: impact == '2',
      checked: '2' in impact
    },
    {
      value: "3",
      text: "3 - High impact",
      checked: impact == '3',
      checked: '3' in impact
    }
  ]
}) }}
