{% if form.stateConfidence %} 
{% set stateConfidence = form.stateConfidence %}
{% else %} 
{% set stateConfidence = [] %}
{% endif %}

{{ govukCheckboxes({
  idPrefix: "state-confidence",
  name: "stateConfidence",
  items: [
    {
      value: "0",
      text: "0 - Very low confidence",
      checked: stateConfidence == '0',
      checked: '0' in stateConfidence
    },
    {
      value: "1",
      text: "1 - Low confidence",
      checked: stateConfidence == '1',
      checked: '1' in stateConfidence
    },
    {
      value: "2",
      text: "2 - Medium confidence",
      checked: stateConfidence == '2',
      checked: '2' in stateConfidence
    },
    {
      value: "3",
      text: "3 - High confidence",
      checked: stateConfidence == '3',
      checked: '3' in stateConfidence
    }
  ]
}) }}