.measures-table {
  .govuk-table__header,
  .govuk-table__cell {
    border: none;
  }
  width: 50%;
}

.measure-rayg {
  border-left: 0;
  height: 20px;
  width: 20px;
  display: inline-block;
  margin-left: 15px;

  &.red {
    background-color: #D4351C;
  }

  &.amber {
    background-color: #F47738;
  }

  &.yellow {
    background-color: #FFDD00;
  }

  &.green {
    background-color: #00703C;
  }
}

.grey-bg {
  background-color: #f3f2f1;
  width: 100%;
}

.current-value {
  padding: 10px 10px 5px 5px;
  margin-bottom: 20px;
  tr td {
    width: 22%;
    vertical-align: initial;
  }
  p {
    margin-bottom: 5px;
  }
}

.data-entry {
  border: 1px solid #b1b4b6;
  padding: 20px 20px 0 20px;
  margin-top: -20px;
}

.measure-label {
  vertical-align: inherit;
  max-width: 90px;
  text-align: left;
  &:not(:first-of-type) {
    padding-left: 30px;
  }
}