.measures-table {
  .govuk-table__header,
  .govuk-table__cell {
    border: none;
  }
  width: 50%;
}

.measure-rayg {
  border-left: 0;
  height: 20px;
  width: 20px;
  display: inline-block;
  margin-left: 15px;

  &.red {
    background-color: #D4351C;
  }

  &.amber {
    background-color: #F47738;
  }

  &.yellow {
    background-color: #FFDD00;
  }

  &.green {
    background-color: #00703C;
  }
}

.current-value {
  background-color: #f3f2f1;
  padding: 10px 10px 5px 5px;
  margin-bottom: 20px;
}

.current-value p {
  margin-bottom: 5px;
}

.filter-value {
  margin-left: 50px;
  &:first-of-type {
    margin-left: 20px;
  };
}

.data-entry {
  border: 1px solid #b1b4b6;
  padding: 20px 20px 0 20px;
  margin-top: -20px;
}

.measure-input {
    display: inline-block;
}

.measure-label {
  display: inline-block;
  width: 100px;
  text-align: left;
}