{% extends "template.njk" %}

{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/tabs/macro.njk" import govukTabs %}
{% from "data-entry-content.njk" import dataEntriesContent %}
{% from "measure-information.njk" import measureInformation %}

{% block beforeContent %}
  {% include "navigation.njk" %}
  {% include "feedback.njk" %}
  {{ govukBackLink({
    text: "Back",
    href: "#",
    attributes: {
      onclick: "history.go(-1);"
    }
  }) }}
{% endblock %}

{% block pageTitle %}Measures Edit{% endblock %}

{% set measure = getMeasureData() | await %}
{% set latestMeasure = measure.latest %}
{% set raygEntity = measure.raygEntity %}
{% set groupedMeasures = measure.grouped %}
{% set formFields = measure.fields %}
{% set displayOverallRaygDropdown = measure.displayOverallRaygDropdown %}
{% set uniqMetricIds = measure.uniqMetricIds %}
{% set errorMessages = errors if errors else flash %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">{{ latestMeasure.name }}</h1>

    {% if errorMessages %}
      <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
        <h2 class="govuk-error-summary__title" id="error-summary-title">
          There is a problem
        </h2>
        <div class="govuk-error-summary__body">
          <ul class="govuk-list govuk-error-summary__list">
          {% for error in errorMessages %}
            <li>
              <a href="#data-entries">{{ error }}</a>
            </li>
          {% endfor %}
          </ul>
        </div>
      </div>
    {% endif %}

    {% if successfulMode %}
      {% include "data-entry-entity/measure-edit/partials/success.njk" %}
    {% else %}
      {% include "data-entry-entity/measure-edit/partials/forms.njk" %}
    {% endif  %}

    </div>
  </div>

{% endblock %}
