{% extends "template.njk" %}

{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/tabs/macro.njk" import govukTabs %}
{% from "data-entry-content.njk" import dataEntriesContent, UpdateMetricData %}

{% block beforeContent %}
  {% include "navigation.njk" %}
  {% include "feedback.njk" %}
  {{ govukBackLink({
    text: "Back",
    href: "#",
    attributes: {
      onclick: "history.go(-1);"
    }
  }) }}
{% endblock %}

{% block pageTitle %}Measures Edit{% endblock %}

{% set measure = getMeasureData() | await %}
{% set latestMeasure = measure.latest %}
{% set groupedMeasures = measure.grouped %}
{% set formFields = measure.fields %}

{% block content %}

  {% if flash %}
    {{ govukErrorSummary({
        titleText: "There was a problem saving your data",
        errorList: [{
            html: flash
        }]
    }) }}
  {% endif %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">{{ latestMeasure.name }}</h1>

      <table class="govuk-table measures-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Measure UID</th>
            <th scope="col" class="govuk-table__header">Theme</th>
            <th scope="col" class="govuk-table__header">Status</th>
            <th scope="col" class="govuk-table__header">Last update</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">{{ latestMeasure.metricID }}</td>
            <td class="govuk-table__cell">{{ latestMeasure.theme }}</td>
            <td class="govuk-table__cell "><span class="measure-rayg {{ latestMeasure.colour }}"></span></td>
            <td class="govuk-table__cell">{{ latestMeasure.date }}</td>
          </tr>
        </tbody>
      </table>

      {{ govukTabs({
        items: [
          {
            label: "Data entries",
            id: "data-entries",
            panel: {
              html: dataEntriesContent(groupedMeasures, url, req.params.metricId, data, formFields)
            }
          },
          {
            label: "Measure information",
            id: "measure-information",
            panel: {
              html: UpdateMetricData(latestMeasure, url, req.params.metricId, data)
            }
          }
        ]
      }) }}

    </div>
  </div>

{% endblock %}
