{{ govukSummaryList({
  classes: 'project-summary',
  rows: [
    {
      key: {
        text: "Delivery barriers"
      },
      value: {
        html: project.fields.get('deliveryBarriers').value| default('N/A')
      }
    },
    {
      key: {
        text: "Rationale"
      },
      value: {
        html: project.fields.get('deliveryBarriersRationale').value| default('N/A')
      }
    },
    {
      key: {
        text: "Latest date by which delivery can begin"
      },
      value: {
        html: project.fields.get('beginDelivery').value | date("D MMMM YYYY") | default('N/A')
      }
    }
  ]
}) }}