{{ govukSummaryList({
  classes: 'project-summary',
  rows: [
    {
      key: {
        text: "EU member state confidence"
      },
      value: {
        html: getField(project.fields, 'euStatesAction').value| default('N/A')
      }
    }
  ]
}) }}