{{ govukSummaryList({
  rows: [
    {
      key: {
        text: "Rationale"
      },
      value: {
        html: getField(project.fields, 'hmgDeliveryConfidenceRationale').value| default('N/A')
      }
    }
  ]
}) }}