{{ govukSummaryList({
  classes: 'project-summary',
  rows: [
    {
      key: {
        text: "HMG Delivery Confidence"
      },
      value: {
        html: project.fields.get('progressStatus').value| default('N/A')
      }
    },
    {
      key: {
        text: "Rationale"
      },
      value: {
        html: project.fields.get('hmgDeliveryConfidenceRationale').value| default('N/A')
      }
    }
  ]
}) }}