#accordion-table {
    border-bottom: none;
    pointer-events: none;
}

table.govuk-table.table-header {
    font-weight: bold;
}

span.govuk-accordion__icon {
    pointer-events: all;
}

a.govuk-link.project-link {
    pointer-events: all;
}

button#accordion-table-heading-1 ~ .govuk-accordion__icon {
    display: none;
}

#accordion-table .govuk-accordion__section-header {
    border-top: none;
}

#accordion-table .govuk-accordion__controls {
    pointer-events: all;
}

#accordion-table button.govuk-accordion__open-all {
    top: -75px;
}

button#accordion-table-heading-1 {
    padding-top: 20px;
}

#accordion-table .govuk-accordion__section {
    margin-top: -90px;
}

#accordion-table .govuk-accordion__section--expanded .govuk-accordion__section-content {
    margin-top: -60px;
    margin-bottom: 20px;
    padding-bottom: 40px;
}

table.govuk-table.table-content {
    background-color: #f3f2f1;
}

.govuk-accordion__section-button {
    font-size: 18px;
}

.remove-icon span.govuk-accordion__icon {
    display: none;
}

.remove-open-all button.govuk-accordion__open-all {
    display: none;
}

.remove-open-all .govuk-accordion__controls {
    padding-bottom: 20px;
}

#filterPanel, #hideFilter  {
    display: none;
}

#show:target #filterPanel {
    display: block;
}

#show:target #showFilter {
    display: none;
}

#show:target #hideFilter {
    display: block;
}

.govuk-checkboxes__label, .govuk-label, .govuk-hint, .govuk-summary-list__key, .govuk-table {
    font-size: 1.100rem;
}

#show:target #dataTable {
    width: 75%;
    div.scrollable {
        max-height: 150px;
        max-width: 80px;
        overflow-x: scroll;
        overflow-y: scroll;
    }
}

.govuk-table__header, .govuk-table__cell {
    width: 15%;
}

.cell-color-0, .cell-color-1, .cell-color-2, .cell-color-3 {
    color: white;
}

.cell-color-0 {
    border: 1px solid #d4351c;
    background-color: #d4351c;
    padding: 4px 9px 3px 9px;
}

.cell-color-1 {
    border: 1px solid #f47738;
    background-color: #f47738;
    padding: 4px 12px 4px 12px;
}

.cell-color-2 {
    border: 1px solid #b58840;
    background-color: #b58840;
    padding: 4px 10px 4px 10px;
}

.cell-color-3 {
    border: 1px solid #85994b;
    background-color: #85994b;
    padding: 4px 10px 4px 10px;
}

.red-date {
    color: #d4351c;
    font-weight: bold;
}

dl.govuk-summary-list.filter-list .govuk-summary-list__row {
    background-color: #f3f2f1;
  }

.filter-block {
    border: 1px solid #000000;
    background-color: #ffffff;
    padding: 4px 10px 4px 10px;
    line-height: 1.7em;
}

dl.govuk-summary-list.filter-list .govuk-summary-list__key {
    border-bottom: 0;
}

dl.govuk-summary-list.filter-list .govuk-summary-list__value {
    border-bottom: 0;
}

ul.govuk-list.govuk-list--bullet.filter-list li {
    list-style-type: none;
    line-height: 1.8;
}

dl.govuk-summary-list.filter-list .govuk-summary-list__key {
    width: 15%;
}

dl.govuk-summary-list.filter-list .govuk-summary-list__value:last-child {
    width: 50%;
}

div#accordion-filters .govuk-accordion__section-content {
    max-height:300px;
    overflow-y: scroll;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
    height: 7px;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, .5);
    box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}

.filter-nav {
    padding-left: 15px;
    float: left;
}

dl.govuk-summary-list.filter-list .govuk-summary-list__key, .govuk-summary-list__value, .govuk-summary-list__actions {
    padding-right: 2px;
    padding-left: 8px;
    display: table-cell;
}

.filter-nav nav .govuk-header__navigation {
    margin-bottom: -5px;
}

span.filter-name {
    position: relative;
    bottom: 10px;
}

.table-content .govuk-table__cell {
    width: 25%;
}

.filter-nav.date {
    position: relative;
    top: 10px;
}

span.date-name {
    position: relative;
    bottom: 15px;
}

.panelTitle {
    margin-bottom: -20px;
}

h1.govuk-heading-xl.project-name {
    margin-bottom: 0;
}

span.govuk-caption-xl.dept-name {
    margin-bottom: 50px;
}

table.govuk-table.milestones-table tbody > tr:last-child > td {
    border-bottom: 0;
}

dl.govuk-summary-list.project-summary > .govuk-summary-list__row:last-child > dd,
dl.govuk-summary-list.project-summary > .govuk-summary-list__row:last-child > dt {
    border-bottom: 0;
}

button.govuk-button.govuk-button--secondary.filterBtn {
    box-shadow: none;
    background-color: white;
    margin-bottom: 5px;
    border: 1px solid #000000;
}

.cross {
    width: 15px;
    height: 15px;
    padding-right: 15px;
}

button.govuk-button.govuk-button--no-style {
    box-shadow: none;
    background-color: none;
    margin-bottom: 5px;
    border: none;
    background: none;
    .cross {
        padding-right: 0;
    }
}

div.scrollable {
    max-height: 150px;
    max-width: 110px;
    overflow-x: scroll;
    overflow-y: scroll;
}




