{% extends "template.njk" %}

{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/accordion/macro.njk" import govukAccordion %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% set cellBlock = "cell-color-" %}
{% set flag = '' %}

{% set contentHtml %}
{% include "all-data/partials/data-table/content.njk" %}
{% endset -%}

{% set count = 0 %}
{% set sections = [] %}
{% set projectKey = [] %}
{% set projectValue = [] %}
{% set projectFields = [] %}
{% set milestoneKey = [] %}
{% set milestoneValue = [] %}
{% set milestoneFields = [] %}
{% set filters = filters() | await %}
{% set projects = projects() | await %}
{% set departmentView = 'false' %}
{% set uid = '' %}

{% if req.user.isDepartmentalViewer %}
  {% set title = req.user.departments[0].name + " project data" %}
{% else %}
  {% set title = "All project data" %}
{% endif %}

{% block pageTitle %}{{ title }}{% endblock %}

{% block content %}

<div class="govuk-grid-row" id="hide-filters">

<div class="govuk-grid-column-one-quarter" id="filterPanel">
  {% include "all-data/partials/filters/filters.njk" %}
</div>

<div class="govuk-grid-column-full" id="dataTable">

<h1 class="govuk-heading-xl">
  {{ title }}
</h1>

  <div id="showFiltersBtn">
  {% include "all-data/partials/filters/show-filter-btn.njk" %}
  </div>

  <div id="hideFiltersBtn">
  {% include "all-data/partials/filters/hide-filter-btn.njk" %}
  </div>


  {% set projectKey = [{ text:'Project Name' }, { text:'Department' }, { text:'Impact' }, { text:'HMG Confidence' }, { text:'Citizen Readiness' }, { text:'Business Readiness' }, { text:'EU Member State Delivery Confidence' }] %}
  {% if (departmentView == 'true') %}
  {% set projectKey = [{ text:'Project Name' }, { text:'Impact' }, { text:'HMG Confidence' }, { text:'Citizen Readiness' }, { text:'Business Readiness' }, { text:'EU Member State Delivery Confidence' }] %}
  {% endif %}


  {% set milestoneKey = [{ text:'Milestone UID' }, { text:'Milestone Description' }, { text:'Due Date' }, { text:'Complete' }, { text:'Latest Comments' }] %}

{% set tableHeaderHtml %}
    {% include "all-data/partials/data-table/table-header.njk" %}
{% endset -%}

{% set sections = (sections.push ({
    heading: {
      html: tableHeaderHtml
    }
  }), sections) %}

  {% for project in projects %}

  {% for tableFieldId in tableFields %}

    {% set field = project.fields.get(tableFieldId) %}

    {% if (field.id == 'uid')%}
    {% set uid = field.value %}
    {% elif (field.id == 'departmentName') and (departmentView == 'true') %}
    {% else %}

    {% set projectValue = (projectValue.push({html:

    "<a href=" + config.paths.projectDetails | replace(":uid", uid | urlencode) + " class='govuk-link project-link'>" +
    "<div class='scrollable'>" + field.value | escape + "</div></a>"
      if field.id == 'title'
        else "<span class=" + (cellBlock + field.value) | escape + ">" + field.value | default('N/A') | escape  + "</span>"
    }), projectValue) %}

  {% endif %}

  {% endfor %}

  {% set projectFields = (projectFields.push(projectValue), projectFields) %}

  {% set contentHtml %}{% endset  %}

  {% for milestone in project.milestones %}
    {% set milestoneValue = [] %}

    {% for tableFieldId in milestoneTableFields %}

    {% set field = milestone.fields.get(tableFieldId) %}
      {% set flag = '' %}
      {% if (field.id == 'date') and (field.value | beforeToDay) %}
        {% set flag = 'red-date' %}
      {% endif %}

      {% set html %}
        {% if field.id === 'uid' %}
          <a href="{{ config.paths.milestoneDetails | replace(':uid', field.value | urlencode) }}" class='govuk-link project-link'>{{ field.value | escape }}</a>
        {% elseif field.type == 'date' %}
          <span class="{{ flag | escape }}">{{ field.value | date("D MMM YYYY") | escape }}</span>
        {% else %}
          <span>{{ field.value | default('N/A') | escape }}</span>
        {% endif %}
      {% endset %}

      {% set milestoneValue = (milestoneValue.push({html: html}), milestoneValue) %}
    {% endfor %}

    {% set milestoneFields = (milestoneFields.push(milestoneValue), milestoneFields) %}

    {% set contentHtml  %}
      {% include "all-data/partials/data-table/content.njk" %}
    {% endset  %}

  {% endfor %}

  {% set dataRowsHtml  %}
    {% include "all-data/partials/data-table/data-rows.njk" %}
  {% endset  %}

      {% set sections = (sections.push ({
          summary: {
            html: dataRowsHtml
          },
          content: {
            html: contentHtml
          }
        }), sections)
      %}

    {% set projectFields = [] %}
    {% set milestoneFields = [] %}
    {% set projectValue = [] %}

    {% set count = loop.index %}

  {% endfor %}

  <div>

    {% include "all-data/partials/filters/filter-summary.njk" %}

  </div>

  <h2 class="govuk-heading-m">{{ count }} Projects displayed</h2>
  <hr>

  <a class="govuk-link" href="{{ config.paths.impactDefinitions }}">View impact and confidence definitions</a>
  <br><br><br><br>

  {% include "all-data/partials/data-table/table.njk" %}

  </div>

</div>

{% endblock %}

{% block afterScript %}
  <script>
    TRANSITIONDELIVERYDASHBOARD.removeAccordionCross();
  </script>
{% endblock %}




