{% extends "template.njk" %}

{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/accordion/macro.njk" import govukAccordion %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% set summary = [] %}

{% set cellBlock = "cell-color-"  %}

{% set dates  %}
{% include "all-data/partials/filters/dates.njk" %}
{% endset %}

{% set tableHeaderHtml %}
{% include "all-data/partials/data-table/table-header.njk" %}
{% endset -%}

{% set contentHtml %}
{% include "all-data/partials/data-table/content.njk" %}
{% endset -%}

{% set count = 0 %}
{% set items = [] %}
{% set content = [] %}
{% set sections = [] %}

{{ sections.push ({
    heading: {
      html: tableHeaderHtml
    }
  })
}}

 {{ items.push ({
    heading: {
      text: "Date"
    },
    content: {
      html: dates
    }
  })
}}

{% block pageTitle %}{{ index }}{% endblock %}

{% block content %}

{{ projects() | await | dump }}

<br><br><br>

{{ data.filters | dump }}

<h1 class="govuk-heading-xl">{{ index }}</h1>

<div class="govuk-grid-row" id="show">

<div class="govuk-grid-column-one-quarter" id="filterPanel">

  {% for filter in filters() | await %}
    {% set filterCheckboxes  %}
      {% for option in filter.options %}
          {% include "all-data/partials/filters/checkboxes.njk" %}
      {% endfor %}
    {% endset -%}

       {{ items.push ({
          heading: {
            text: filter.name
          },
          content: {
            html: filterCheckboxes
          }
        })
      }}

  {% endfor %}

  <form action="{{ url }}" method="post">

    {% include "all-data/partials/filters/all-filters.njk" %}
    {% include "all-data/partials/filters/filter-btn.njk" %}

  </form>

</div>

<div class="govuk-grid-column-full" id="dataTable">

  <div id="showFilter">
  {% include "all-data/partials/filters/show-filter-btn.njk" %}
  </div>

  <div id="hideFilter">
  {% include "all-data/partials/filters/hide-filter-btn.njk" %}
  </div>

 {% for data in projects() | await %}

  {% set dataRowsHtml  %}
    {% include "all-data/partials/data-table/data-rows.njk" %}
  {% endset  %}

    {{ content.push ([      
      {
        text: data.milestones.milestone_uid
      },
      {
        text: data.milestones.description
      },
      {
        text: data.milestones.due_date | date("D MMM YYYY") 
      },
      {
        text: data.milestones.last_comment
      }])
    }}

  {% set contentHtml  %}
    {% include "all-data/partials/data-table/content.njk" %}
  {% endset  %}

      {{ sections.push ({
          summary: {
            html: dataRowsHtml
          },
          content: {
            html: contentHtml
          }
        })
      }}

   {% set count = loop.index %}

  {% endfor %}

  <h2 class="govuk-heading-m">{{ count }} Projects displayed</h2>

  <hr>

  {% include "all-data/partials/data-table/table.njk" %}

  </div>

</div>

{% endblock %}

{#

<form action="{{ url }}" method="post">
  <label for="department">Project Name:</label>
  <input type="text" id="department" name="filters[department][]" value="{{ data.filters.department }}"><br><br>
  <input type="text" id="department" name="filters[department][]" value="{{ data.filters.department }}"><br><br>
  <input type="submit" value="Submit">
</form>

#}

