#accordion-table {
    border-bottom: none;
    pointer-events: none;
}

table.govuk-table.table-header {
    font-weight: bold;
}

span.govuk-accordion__icon {
    pointer-events: all;
}

button#accordion-table-heading-1 ~ .govuk-accordion__icon {
    display: none;
}

#accordion-table .govuk-accordion__section-header {
    border-top: none;
}

#accordion-table .govuk-accordion__controls {
    margin-top: 40px;
    top: -80px;
    position: relative;
    pointer-events: all;
}

button#accordion-table-heading-1 {
    padding-top: 20px;
}

#accordion-table .govuk-accordion__section {
    margin-top: -90px;
}

#accordion-table .govuk-accordion__section--expanded .govuk-accordion__section-content {
    margin-top: -40px;
    margin-bottom: 20px;
    padding-bottom: 40px;
}

.govuk-accordion__section-button {
    font-size: 18px;
}

#filterPanel, #hideFilter  {
    display: none;
}

#show:target #filterPanel {
    display: block;
}

#show:target #showFilter {
    display: none;
}

#show:target #hideFilter {
    display: block;
}

.govuk-checkboxes__label, .govuk-label, .govuk-hint, .govuk-summary-list__key, .govuk-table {
    font-size: 1.100rem;
}

#show:target #dataTable {
    width: 75%;
}

.govuk-table__header, .govuk-table__cell {
    width: 15%;
}

.cell-color-0, .cell-color-1, .cell-color-2, .cell-color-3 {
    color: white;
}

.cell-color-0 {
    border: 1px solid #d4351c;
    background-color: #d4351c;
    padding: 4px 9px 3px 9px;
}

.cell-color-1 {
    border: 1px solid #f47738;
    background-color: #f47738;
    padding: 4px 12px 4px 12px;
}

.cell-color-2 {
    border: 1px solid #b58840;
    background-color: #b58840;
    padding: 4px 10px 4px 10px;
}

.cell-color-3 {
    border: 1px solid #85994b;
    background-color: #85994b;
    padding: 4px 10px 4px 10px;
}

.red-date {
    color: #d4351c;
    font-weight: bold;
}

.govuk-summary-list__row:nth-child(odd) {
    background-color: #f3f2f1;
  }

.filter-block {
    border: 1px solid #000000;
    background-color: #ffffff;
    padding: 4px 10px 4px 10px;
    line-height: 1.7em;
}

.govuk-summary-list__key, .govuk-summary-list__value, .govuk-summary-list__actions {
    border-bottom: none;
}

ul.govuk-list.govuk-list--bullet.filter-list li {
    list-style-type: none;
    line-height: 1.8;
}

.govuk-summary-list__key {
    width: 20%;
}

div#accordion-filters .govuk-accordion__section-content {
    max-height:300px;
    overflow-y: scroll;
}
::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, .5);
    box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}

.filter-nav {
    padding-left: 15px;
    float: left;
}
  
.govuk-summary-list__key, .govuk-summary-list__value, .govuk-summary-list__actions {
    padding-right: 2px;
    padding-left: 8px;
    display: table-cell;
}

.filter-nav nav .govuk-header__navigation {
    margin-bottom: -5px;
}

span.filter-name {
    position: relative;
    bottom: 10px;
}

.table-content .govuk-table__cell {
    width: 25%;
}

