{% extends "template.njk" %}
{% from "govuk/components/accordion/macro.njk" import govukAccordion %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% set filters = filters() | await %}
{% set dates = getDepartmentsWithUpcomingMilestones() | await  %}
{% set cellBlock = "cell-color-" %}

{% block pageTitle %}Upcoming Milestones{% endblock %}

{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-one-quarter" id="filterPanel">
    <h1 class="govuk-heading-l">Upcoming milestones</h1>
    {% include "upcoming-milestones/partials/filters/filters.njk" %}
  </div>

  <div class="govuk-grid-column-three-quarters">
    {% include "all-data/partials/filters/filter-summary.njk" %}

  <table class="govuk-table upcoming-milestones-table">

  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Due date</th>
      <th scope="col" class="govuk-table__header">Milestone UID</th>
      <th scope="col" class="govuk-table__header">Department</th>
      <th scope="col" class="govuk-table__header">Theme</th>
      <th scope="col" class="govuk-table__header">Project Name</th>
      <th scope="col" class="govuk-table__header">Delivery Confidence</th>
      <th scope="col" class="govuk-table__header">Project Impact</th>
    </tr>
  </thead>

    <tbody class="govuk-table__body">
      {% for date in dates %}
        <tr class="govuk-table__row">
          <th rowspan="{{ loop.index0 }}" class="govuk-table__cell">
            <p class="govuk-body govuk-!-font-weight-bold">{{ date.date }}</p>
            <span class="milestone-count">{{ date.totalMilestones }}</span>
          </th>
        </tr>

        {% for department in date.departments %} {% for project in department.projects %} {% for milestone in project.milestones %}
        <tr>
          <td class="govuk-table__cell">
            <p class="govuk-body"><a href="{{ config.paths.milestoneDetails | replace(':uid', milestone.uid | urlencode) }}" class="govuk-link">{{ milestone.uid }}</a></p>
          </td>
          <td class="govuk-table__cell">
            <p class="govuk-body govuk-!-font-weight-bold">{{ department.name }}</p>
          </td>
          <td class="govuk-table__cell">
            <span class="govuk-caption-m">{{ project.fields.get('deliveryTheme').value | default('N/A') }}</span></p>
          </td>
          <td class="govuk-table__cell">
            <p class="govuk-body"><a href="{{ config.paths.projectDetails | replace(':uid', project.uid | urlencode) }}" class="govuk-link">{{ project.title }}</a></p>
          </td>
          <td class="govuk-table__cell">
            <span class="{{ cellBlock + project.impact }}">{{ project.impact | default('N/A') }}</span>
          </td>
          <td class="govuk-table__cell">
            <span class="{{ cellBlock + milestone.fields.get('deliveryConfidence').value }}">{{ milestone.fields.get('deliveryConfidence').value | default('N/A') }}</span>
          </td>
        </tr>
        {% endfor %} {% endfor %} {% endfor %}
      {% endfor %}
    </tbody>
  </table>
  </div>
</div>

{% endblock %}
