{% extends "template.njk" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% from "govuk/components/accordion/macro.njk" import govukAccordion %}
{% from "govuk/components/table/macro.njk" import govukTable %}

{% set departmentsWithUpcomingMilestone = getDepartmentsWithUpcomingMilestones() | await  %}

{% block pageTitle %}Upcoming Milestones{% endblock %}

{% block content %}

<div class="govuk-grid-row">
{# change width depending on whether filters is shown or not #}
  <div class="govuk-grid-column-full">

  <h1 class="govuk-heading-xl">Upcoming milestones</h1>

<div id="timeline">
{% for department in departmentsWithUpcomingMilestone %}
  {# Should be grouped by date  #}
  <h3 class="govuk-heading-m milestone-date">17 April 2020
  {# Total milestones for each date   #}
  <span class="milestone-count department">30</span>

  {# Loop for each milestone count - 1  #}
  <span class="milestone-count milestone"></span>
  {# end loop   #}
  </h3>

  <p class="govuk-body"><a href="#" class="govuk-link see-more" onclick="return false;">See more</a></p>
  <div class="upcoming-milestones">
    <hr class="govuk-section-break govuk-section-break--visible">
    <h4 class="govuk-heading-s">{{ department.name }} <span class="milestone-count">{{ department.totalUpcomingMilestones }}</span> </h4> 
    {% for project in department.projects %}
      <p class="govuk-body"><a href="{{ config.paths.projectDetails | replace(':uid', project.uid | urlencode) }}" class="govuk-link">{{ project.title }}</a> {{ project.fields.get('deliveryTheme').value }}</p>
    {% for milestone in project.milestones %}  
      <div class="milestones">
        <p class="govuk-body"><a href="{{ config.paths.milestoneDetails | replace(':uid', milestone.uid | urlencode) }}" class="govuk-link">{{ milestone.uid }}</a></p>
        <span class="govuk-caption-m">Milestone delivery confidence: 0</span>
        <p class="govuk-body">{{ milestone.description }}</p>
      </div>
      {% endfor %}
    {% endfor %}
  </div>
{% endfor %}
</div>

  </div>
</div>

{% endblock %}

{% block afterScript %}
  <script>
    TRANSITIONDELIVERYDASHBOARD.seeMore();
  </script>
{% endblock %}
