.milestone-count {
  height: 40px;
  width: 40px;
  background-color: #1d70b8;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 26px;
  padding: 4px 3px 0 3px;
}

.description-row {
  border-top: hidden;
}

.number-cell {
  border-bottom: hidden;
  border-top: 1px solid #b1b4b6;
}

.upcoming-milestones-table tr > *:nth-child(5) {
  width: 40%;
}

.upcoming-milestones-table th {
  cursor: pointer;
}
