{% extends "template.njk" %}
{% from "govuk/components/accordion/macro.njk" import govukAccordion %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "milestones-table.njk" import milestonesTable %}

{% set filters = filters() | await %}
{% set dates = getDepartmentsWithUpcomingMilestones() | await  %}
{% set projectDetails = config.paths.projectDetails %}
{% set milestoneDetails = config.paths.milestoneDetails %}

{% block pageTitle %}Upcoming Milestones{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Upcoming milestones</h1>
  </div>
</div>

<div class="govuk-grid-row" id="hide-filters">

  <div class="govuk-grid-column-one-quarter" id="filterPanel">
    {% include "all-data/partials/filters/filters.njk" %}
  </div>

  <div class="govuk-grid-column-full" id="dataTable">

    <div id="showFiltersBtn">
      {% include "all-data/partials/filters/show-filter-btn.njk" %}
    </div>

    <div id="hideFiltersBtn">
      {% include "all-data/partials/filters/hide-filter-btn.njk" %}
    </div>

    <p class="govuk-body-s"><a class="govuk-link" href="{{ config.paths.impactDefinitions }}">View impact and confidence definitions</a></p>
    {% include "all-data/partials/filters/filter-summary.njk" %}

    {{ milestonesTable(dates, projectDetails, milestoneDetails) }}
  
  </div>
</div>

{% endblock %}

{% block afterScript %}
  <script>
    TRANSITIONDELIVERYDASHBOARD.sortTable();
  </script>
{% endblock %}
