{{ govukTable({
  head: [
    {
      text: "Icon"
    },
    {
      text: "Definitions"
    }
  ],
  rows: [
    [
      {
        html: "<span class='cell-color-0'>0</span>"
      },
      {
        text: "Low impact"
      }
    ],
    [
      {
        html: "<span class='cell-color-1'>1</span>"
      },
      {
        text: "Medium impact"
      }
    ],
    [
      {
        html: "<span class='cell-color-2'>2</span>"
      },
      {
        text: "High impact"
      }
    ],
    [
      {
        html: "<span class='cell-color-3'>3</span>"
      },
      {
        text: "Very high impact"
      }
    ],
    [
      {
        text: "N/A"
      },
      {
        text: "No impact level given"
      }
    ]
  ]
}) }}