{% extends "template.njk" %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "measure-value.njk" import measureValue %}

{% block beforeContent %}
  {% include "navigation.njk" %}
  {% include "feedback.njk" %}
  {{ govukBackLink({
    text: "Back",
    href: "#",
    attributes: {
      onclick: "history.go(-1);"
    }
  }) }}
{% endblock %}

{% block pageTitle %}Edit Measure Value{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

    {% if successfulMode %}
      {% include "data-entry-entity/measure-edit/partials/success.njk" %}
    {% else %}

    <h1 class="govuk-heading-l govuk-!-margin-bottom-1">Edit measure value</h1>
    <h3 class="govuk-heading-m">Measure name</h3>

    <p class="govuk-body govuk-!-font-weight-bold">Edit current value<p>
    <div class="data-entry">
        {{ measureValue(url, formFields) }}
    </div> 

    {% endif  %}

    <hr class="govuk-section-break govuk-section-break--m">

      {{ govukButton({
        text: "Back to Measure",
        href: '#',
        preventDoubleClick: true,
        classes: "govuk-button--secondary govuk-button govuk-button--secondary back-measure-button"
      }) }}

    </div>
  </div>

{% endblock %}
