.value-button {
    width: 150px;
    &:first-of-type {
        margin-right: 15px;
    }
}

.back-measure-button {
    width: 200px;
    margin-right: 15px;
}

.red-panel {
    background-color: #d4351c;
}

.red-panel p {
    color: white;
    font-weight: bold;
}