<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

    {{ govukPanel({
    titleText: data.displayName + " data field updated" if editMode else data.displayName + " data field added to dashboard"
    }) }}

    <hr class="govuk-section-break govuk-section-break--m">
    <p class="govuk-body">
    <strong>What next?</strong><br>
    <a href="{{ config.paths.admin.categoryFieldList }}/{{category.id}}" class="govuk-link">Back to {{ category.name }} field list.</a>
    </p>

    </div>
</div>