{% extends "template.njk" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{% block beforeContent %}
{% include "navigation.njk" %}
{% include "feedback.njk" %}
{% if mode !== 'bulk-upload' %}
{{ govukBackLink({
  text: "Back",
  href: "#",
  attributes: {
    onclick: "history.go(-1);"
  }
}) }}
{% endif %}
{% endblock %}

{% block pageTitle %}Output{% endblock %}

{% block content %}

  {% for entity in output() | await %}
    {{ entity.publicId }}<br>
    =============<br>
    {% for entityChild in entity.children %}
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-> {{ entityChild.publicId }}<br>
      {% for entityChildChild in entityChild.children %}
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;--> {{ entityChildChild.publicId }}<br>
        {% for entityChildChildChild in entityChildChild.children %}
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;--> {{ entityChildChildChild.publicId }}<br>
        {% endfor %}
      {% endfor %}
    {% endfor %}
    <br><br><br>
  {% endfor %}

{% endblock %}

