.cell-color-0, .cell-color-1, .cell-color-2, .cell-color-3 {
    color: white;
}

.cell-color-0 {
    border: 1px solid #d4351c;
    background-color: #d4351c;
    padding: 4px 9px 3px 9px;
}

.cell-color-1 {
    border: 1px solid #f47738;
    background-color: #f47738;
    padding: 4px 12px 4px 12px;
}

.cell-color-2 {
    border: 1px solid #b58840;
    background-color: #b58840;
    padding: 4px 10px 4px 10px;
}

.cell-color-3 {
    border: 1px solid #85994b;
    background-color: #85994b;
    padding: 4px 10px 4px 10px;
}

.red-date {
    color: #d4351c;
    font-weight: bold;
}

table.govuk-table.milestones-table tbody > tr:last-child td {
    border-bottom: 0;
}