{% extends "template.njk" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/tabs/macro.njk" import govukTabs %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/accordion/macro.njk" import govukAccordion %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% set projectValue = [] %}
{% set milestoneValue = [] %}
{% set milestoneFields = [] %}

{% set cellBlock = "cell-color-" %}
{% set flag = '' %}
{% set missedMilestonesCount = 0 %}
{% set count = 0 %}
{% set uid = '' %}

{% set project = project() | await %}
{% set fields = getFields() | await %}
{% set fieldGroups = getProjectGroups() | await %}

{% block beforeContent %}
{% include "feedback.njk" %}
{{ govukBackLink({
  text: "Back",
  href: "#",
  attributes: {
    onclick: "history.go(-1);"
  }
}) }}
{% endblock %}

{% block pageTitle %}Project Details{% endblock %}

{% block content %}

{% set projectKey = [{ text:'Project UID' }, { text:'Impact' }, { text:'HMG Confidence' }, { text:'Citizen Readiness' }, { text:'Business Readiness' }, { text:'EU Member State Delivery Confidence' }, { text:'Themes' }] %}
{% set milestoneKey = [{ text:'Milestone UID' }, { text:'Milestone Description' }, { text:'Due Date' }, { text:'Complete' }, { text:'Latest Comments' }] %}
{% if req.user.role == 'uploader' or req.user.role == 'administrator' %}
  {% set milestoneKey = (milestoneKey.push( { text: '' }), milestoneKey) %}
{% endif %}

  {% for tableFieldId in tableFields %}

    {% set field = project.fields.get(tableFieldId) %}

    {% set projectValue = (projectValue.push({html:
    "<span class=" + (cellBlock + field.value) | escape + ">" + field.value | default('N/A') | escape + "</span>" }), projectValue) %}
  {% endfor %}

  {% for milestone in project.milestones %}
    {% set milestoneValue = [] %}
    {% set flag = '' %}
    {% for tableFieldId in milestoneTableFields %}
      {% set field = milestone.fields.get(tableFieldId) %}

      {% if (field.id == 'date') and (field.value | beforeToDay) %}
        {% set flag = 'red-date' %}
      {% endif %}

      {% set html %}
        {% if field.id === 'uid' %}
          <a href="{{ config.paths.milestoneDetails | replace(':uid', field.value | urlencode) }}" class='govuk-link project-link'>{{ field.value | escape }}</a>
        {% elseif field.type == 'date' %}
          <span class="{{ flag | escape }}">{{ field.value | date("D MMM YYYY") | escape }}</span>
        {% else %}
          <span>{{ field.value | default('N/A') | escape }}</span>
        {% endif %}
      {% endset %}

      {% set milestoneValue = (milestoneValue.push({html: html}), milestoneValue) %}

      {% if (field.id == 'uid') %}
      {% set uid = field.value %}
      {% endif %}

    {% endfor %}

    {% if req.user.role == 'uploader' or req.user.role == 'administrator' %}
    {% set milestoneValue = (milestoneValue.push({html: '<a href="' + config.paths.editMilestone + '/' + uid | urlencode + '" class="govuk-link edit-link">Edit</a>' }), milestoneValue) %}
    {% endif %}
    {% set milestoneFields = (milestoneFields.push(milestoneValue), milestoneFields) %}

  {% endfor %}

{% set projectValue = (projectValue.push({
      html: "<span>" + project.fields.get('deliveryTheme').value | default('N/A') | escape + "</span>" }),
    projectValue) %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl project-name">{{ project.title }}</h1>
    <span class="govuk-caption-xl dept-name">{{ project.department_name }}</span>

{% include "project-details/partials/project-tabs.njk" %}

{% include "project-details/partials/project-table.njk" %}

<a class="govuk-link" href="{{ config.paths.impactDefinitions }}">View impact and confidence definitions</a>

<div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">

{% for fieldGroup in fieldGroups %}
 {% set count = count + 1 %}
  <div class="govuk-accordion__section">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-{{count}}">
          {{ fieldGroup.name }}
        </span>
      </h2>
    </div>

  <div id="accordion-default-content-{{ count }}" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-{{ count }}">
    <dl class="govuk-summary-list project-summary">
      {% for field in fields | sort(attribute='order') %}
        {% if field.group == fieldGroup.name %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            {{ field.displayName | default('N/A') | string }}
          </dt>
          <dd class="govuk-summary-list__value">
            {{ project.fields.get(field.name).value| default('N/A') }}
          </dd>
        </div>
        {% endif %}
      {% endfor %}
    </dl>
  </div>
  </div>
{% endfor %}

  <div class="govuk-accordion__section">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-{{ count + 1 }}">
          All milestones
        </span>
      </h2>
    </div>
      <div id="accordion-default-content-{{ count + 1 }}" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-{{ count + 1}}">
      {{ govukTable({
        classes: "milestones-table",
        head: milestoneKey,
        rows: milestoneFields
      }) }}
      </div>
    </div>
  </div>

 </div>
</div>

{% endblock %}
