{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/details/macro.njk" import govukDetails %}

<div class="govuk-grid-column-full">

<h1 class="govuk-heading-xl">Please check your data</h1>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

  <p class="govuk-body">Please check that the data in your file corresponds the number of projects and milestones 
    successfully uploaded to the dashboard.</p>

  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third validate-data">
    <h2 class="govuk-heading-l validate-number">15</h2>
    <p class="govuk-body-s">Projects uploaded</p>
  </div>

  <div class="govuk-grid-column-one-third validate-data">
    <h2 class="govuk-heading-l validate-number">53</h2>
    <p class="govuk-body-s">Milestones uploaded</p>
  </div>
</div>

<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Project UID</th>
      <th scope="col" class="govuk-table__header">Milestone UID</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">BEIS-27</td>
      <td class="govuk-table__cell">BEIS-27-07</td>
    </tr>
  </tbody>
</table>

{{ govukDetails({
  summaryText: "The data uploaded is not what I was expecting",
  html: "<p class='govuk-body'>If the number of projects and milestones uploaded don't correspond to the number in the 
  file you uploaded, please log the issue here.</p>
  <a class='govuk-link' href='mailto:ttf-portfoliodashboard@cabinetoffice.gov.uk'>ttf-portfoliodashboard@cabinetoffice.gov.uk</a>"
}) }}

{# Possibly to include input type hidden elements on the table or here followed by 
the "Add data to dashboard" button? 

<form action="{{ url }}" method="post">

{{ govukButton({
  text: "Add data to dashboard",
  type: "submit",
  preventDoubleClick: true
  }) }}

</form>

#}

{{ govukButton({
  text: "Add data to dashboard",
  href: config.paths.dataEntry.bulkUploadDataLive
}) }}

<br>

{{ govukButton({
  text: "Cancel upload",
  classes: "govuk-button--secondary",
  href: config.paths.dataEntry.addData
}) }}

</div>




