{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/accordion/macro.njk" import govukAccordion %}

{% macro criticalMilestones(projects, projectFields, milestoneFields, extraField, config) %}

  {% set uid = '' %}
  {% set cellBlock = "cell-color-" %}
  {% set flag = '' %}

  {% for project in projects %}

    <table class="govuk-table project-info">
      <caption class="govuk-table__caption project-caption">Project Information</caption>

        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
              {% for projectField in projectFields %}
              {% set field = project.fields.get(projectField.id) %}
              {% if (field.id != 'uid')%}
            <th scope="col" class="govuk-table__header">{{ projectField.title }}</th>
              {% endif %}
            {% endfor %}
            <th scope="col" class="govuk-table__header">{{ extraField }}</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            {% for projectField in projectFields %}
              {% set field = project.fields.get(projectField.id) %}
            {% if (field.id == 'uid')%}
                {% set uid = field.value %}
            {% else %}
              {% if field.id == 'title' %}
                <td class="govuk-table__cell">
                  <a href="{{ config.paths.projectDetails | replace(':uid', uid | urlencode) }}" class='govuk-link project-link'>
                    <div class='scrollable'>{{ field.value }}</div>
                  </a>
                </td>
            {% else %}
            <td class="govuk-table__cell"><span class="{{ cellBlock + field.value }}">{{ field.value | default('N/A') }}</span></td>
              {% endif %}
            {% endif %}
            {% endfor %}
            <td class="govuk-table__cell">{{ project.milestones|length }}</td>
          </tr>
        </tbody>
    </table>

    <table class="govuk-table milestone-info">
      <caption class="govuk-table__caption milestone-caption">Milestone Information</caption>

        <thead class="govuk-table__head">
          {% for milestoneField in milestoneFields %}
            <th scope="col" class="govuk-table__header">{{ milestoneField.title }}</th>
          {% endfor %}
        </thead>

        <tbody class="govuk-table__body">
          {% for milestone in project.milestones %}
            <tr class="govuk-table__row">
              {% for milestoneField in milestoneFields %}
                {% set field = milestone.fields.get(milestoneField.id) %}
                {% if (field.id == 'date') and (field.value | beforeToDay) %}
                  {% set flag = 'red-date' %}
                {% endif %}
                {% if (field.id=='date') %}
                  <td class="govuk-table__cell"><span class="{{ flag }}">{{ field.value | date("D MMM YYYY") }}</span></td>
                {% elseif (field.id=='uid') %}
                  <td class="govuk-table__cell">
                    <a href="{{ config.paths.milestoneDetails | replace(':uid', field.value | urlencode) }}" class='govuk-link project-link'>{{ field.value | escape }}</a>
                  </td>
                {% else %}
                  <td class="govuk-table__cell">{{ field.value | default('N/A') }}</td>
                {% endif %}
              {% endfor %}
            </tr>
          {% endfor %}
        </tbody>
    </table>
  {% endfor %}
{% endmacro %}