{% from "measure-value.njk" import measureValue %}

{% macro dataEntriesContent(groupMeasures, url, data, formFields, editValueUrl, showRaygCheckbox) %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

    <p class="govuk-body govuk-!-font-weight-bold">Current Value</p>
    <div class="grey-bg">
      <table class="current-value">
        {% for date, measureByFilter in groupMeasures %}
            <tr>
            <td><p class="govuk-body">{{ date }}</p></td>
            <td>
              <table class="sub-table-fixed">
                {% for measure in measureByFilter %}
                  <tr>
                    {% if measure.label %}
                      <td>
                        <p class="govuk-body">{{ measure.label }}</p>
                      </td>
                    {% endif %}
                    {% if measure.label2 %}
                      <td><p class="govuk-body">{{ measure.label2 }}</p>
                      </td>
                    {% endif %}
                    <td>
                      <p class="govuk-body">{{ measure.unit }} : {{ measure.value }}</p>
                    </td>
                    <td>
                      {% if loop.first %}
                        <a class="govuk-link govuk-!-font-size-19 edit-link" href="{{ editValueUrl }}/{{ measure.metricID }}/{{ measure.groupID }}/{{ measure.date | urlencode }}">
                          Edit
                        </a>
                      {% endif %}                    
                    </td>
                  </tr>
                {% endfor %}
              </table>
            </td>
            </tr>
        {% endfor %}
      </table>
    </div>

  <p class="govuk-body govuk-!-font-weight-bold">Add a new value<p>
  <div class="data-entry">
    {{ measureValue(url, formFields, data, showRaygCheckbox) }}
   </div> 

</div>
</div>
{% endmacro %}