{% from "govuk/components/date-input/macro.njk" import govukDateInput %}

{% macro measureValue(url, formFields) %}
<form action="{{ url }}" method="post">
    <input type="hidden" name="type" value="entries" />

    {{ govukDateInput({
    name: "field-date"
    }) }}

    <table class="current-value">
        {% for measure in formFields %}
        <tr>
            {% if measure.label %}
            <td class="measure-label">
            <p class="govuk-body govuk-!-font-weight-bold">{{ measure.label }}</p>
            </td>
        {% endif %}
        {% if measure.label2 %}
            <td class="measure-label">
            <p class="govuk-body govuk-!-font-weight-bold">{{ measure.label2 }}</p>
            </td>
        {% endif %}
        <td>
            {{ measure.unit }} :
            <div class="govuk-date-input__item">
            <div class="govuk-form-group">
                <label class="govuk-label" for="entity-{{ latestMeasure.id }}">Value</label>
                <input class="govuk-input govuk-input--width-2" type="number" id="entity-{{ measure.id }}" name="entities[{{ measure.id }}]" value="{{ data.entities[measure.id] }}" />
            </div>
            </div>
        </td> 
        </tr>
        {% endfor %}
    </table>

    {% if 'edit-measure' in url %}
    <button class="govuk-button" data-module="govuk-button" type="submit">Add and save value</button>
    {% else %}
    <button class="govuk-button value-button" data-module="govuk-button" type="submit">Save value</button>
    {% endif %}

</form>
{% endmacro %}