{% macro measureInformation(measure, url, data, uniqMetricIds, raygValue) %}
  <form action="{{ url }}#measure-information" method="post">

    <div class="govuk-form-group">
      <label class="govuk-label govuk-!-font-weight-bold" for="entity-description">Description</label>
      <textarea class="govuk-textarea" id="entity-description" name="description" rows="5">{{ data.description | default(measure.description) }}</textarea>
    </div>

    <div class="govuk-form-group">
      <label class="govuk-label govuk-!-font-weight-bold" for="entity-comment">Comment</label>
      <textarea class="govuk-textarea" id="entity-comment" name="additionalComment" rows="5">{{ data.additionalComment | default(measure.additionalComment) }}</textarea>
    </div>

  <label class="govuk-label govuk-!-font-weight-bold">Measure RAYG Values</label>
    <div class="govuk-date-input__item">
      <div class="govuk-form-group">
        <label class="govuk-label" for="entity-redThreshold">Red</label>
        <input class="govuk-input govuk-input--width-2" type="text" id="entity-redThreshold" name="redThreshold" value="{{ data.redThreshold | default(measure.redThreshold) }}" />
      </div>
    </div>

    <div class="govuk-date-input__item">
      <div class="govuk-form-group">
        <label class="govuk-label" for="entity-aYThreshold">Amber</label>
        <input class="govuk-input govuk-input--width-2" type="text" id="entity-aYThreshold" name="aYThreshold" value="{{ data.aYThreshold | default(measure.aYThreshold) }}" />
      </div>
    </div>

    <div class="govuk-date-input__item">
      <div class="govuk-form-group">
        <label class="govuk-label" for="entity-greenThreshold">Green</label>
        <input class="govuk-input govuk-input--width-2" type="text" id="entity-greenThreshold" name="greenThreshold" value="{{ data.greenThreshold | default(measure.greenThreshold) }}" />
      </div>
    </div>

    {% if uniqMetricIds | length === 1 %}
      {% set groupValue = data.groupValue | default(raygValue) %}
      <div class="govuk-form-group">
        <label class="govuk-label" for="groupValue">Overall RAYG value</label>
        <select class="govuk-select" id="groupValue" name="groupValue">
          <option value="1" {{ "selected" if groupValue == 1 }} >Red</option>
          <option value="2" {{ "selected" if groupValue == 2 }} >Amber</option>
          <option value="3" {{ "selected" if groupValue == 3 }} >Yellow</option>
          <option value="4" {{ "selected" if groupValue == 4 }} >Green</option>
        </select>
      </div>
    {% endif %}

    <br>
    <button class="govuk-button" data-module="govuk-button" type="submit">Save</button>

  </form>

{% endmacro %}