{% macro milestonesTable(dates) %}

{% set cellBlock = "cell-color-" %}

<table class="govuk-table sort-milestones-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header sort-coloumn up-sort">Due date</th>
      <th scope="col" class="govuk-table__header">Milestone UID</th>
      <th scope="col" class="govuk-table__header">Department</th>
      <th scope="col" class="govuk-table__header">Theme</th>
      <th scope="col" class="govuk-table__header">Project Name</th>
      <th scope="col" class="govuk-table__header">Delivery Confidence</th>
      <th scope="col" class="govuk-table__header">Project Impact</th>
    </tr>
  </thead>

  {% for date in dates %}
    <tbody class="govuk-table__body">
        <tr class="govuk-table__row date-row">
          <td rowspan="{{ date.totalMilestones * 2 }}" class="govuk-table__cell">
            <p class="govuk-body govuk-!-font-weight-bold">{{ date.date }}</p>
            <span class="milestone-count">{{ date.totalMilestones }}</span>
          </td>
        {% for department in date.departments %} {% for project in department.projects %} {% for milestone in project.milestones %}
          <td class="govuk-table__cell">
            <p class="govuk-body"><a href="{{ config.paths.milestoneDetails | replace(':uid', milestone.uid | urlencode) }}" class="govuk-link">{{ milestone.uid }}</a></p>
          </td>
          <td class="govuk-table__cell">
            <p class="govuk-body govuk-!-font-weight-bold">{{ department.name }}</p>
          </td>
          <td class="govuk-table__cell">
            <span class="govuk-caption-m">{{ project.fields.get('deliveryTheme').value | default('N/A') }}</span></p>
          </td>
          <td class="govuk-table__cell">
            <p class="govuk-body"><a href="{{ config.paths.projectDetails | replace(':uid', project.uid | urlencode) }}" class="govuk-link">{{ project.title }}</a></p>
          </td>
          <td class="govuk-table__cell number-cell">
            <span class="{{ cellBlock + milestone.fields.get('deliveryConfidence').value }}">{{ milestone.fields.get('deliveryConfidence').value | default('N/A') }}</span>
          </td>
          <td class="govuk-table__cell number-cell">
            <span class="{{ cellBlock + project.impact }}">{{ project.impact | default('N/A') }}</span>
          </td>
        <tr>
          <td colspan="4" class="description-row govuk-table__cell">
            <p class="govuk-body">{{ milestone.description }}</p>
          </td>
        </tr>
        {% endfor %} {% endfor %} {% endfor %}
        </tr>
    </tbody>
    {% endfor %}
  </table>

{% endmacro %}