{% macro accordion(params) %}
  {% set id = params.id %}
  
  <div class="govuk-accordion {%- if params.classes %} {{ params.classes }}{% endif -%}" data-module="readiness-accordion" id="{{ id }}"
  {%- for attribute, value in params.attributes %} {{attribute}}="{{value}}"{% endfor %}>
    {% for item in params.items %}
      {% if item %}
        {% set active = item.meta.active %}
        {% set color = item.meta.color %}
        {% set childCount = item.meta.children | length %}
        {% set heading = item.meta.name | safe %}
        {% set isLastExpandable =  "last-level-expandable" if item.meta.isLastExpandable %}
        {% set expanded =  "govuk-accordion__section--expanded" if item.expanded or active %}

        <div class="govuk-accordion__section section-{{ color }} govuk-accordion__section-{{ id }} {{ isLastExpandable }} {{ expanded }}">
          <div class="govuk-accordion__section-header section-header-{{ item.level }}">
            <h2 class="govuk-accordion__section-heading govuk-heading-s">

              <button type="button" id="accordion-default-{{ id }}-heading-{{ loop.index }}" aria-controls="accordion-default-{{ id }}-content-{{ loop.index }}" class="govuk-accordion__section-button" aria-expanded="{{ expanded }}">
                {{ heading }}
                {% if item.level > 1 %} ({{ childCount }}){% endif %}
                <span class="govuk-accordion__icon" aria-hidden="true"></span>
              </button>
            </h2>
            {% if item.summary.html or item.summary.text %}
              <div class="govuk-accordion__section-summary govuk-body" id="{{ id }}-summary-{{ loop.index }}">
                {{ item.summary.html | safe if item.summary.html else item.summary.text }}
              </div>
            {% endif %}
          </div>
          <div id="{{ id }}-content-{{ loop.index }}" class="govuk-accordion__section-content" aria-labelledby="{{ id }}-heading-{{ loop.index }}">
            {{ item.content | safe }}
          </div>
        </div>
      {% endif %}
    {% endfor %}
  </div>
{% endmacro %}

{% macro outcomeMeasuresContent(items) %}
  <ul class="govuk-body govuk-!-font-size-16 outcome-measures">
    {% for item in items %}
      <li class="outcome-measure__item {% if item.activeFrom %} item-disabled {% else %} item-{{ item.color }} {% endif %} {% if item.active %} outcome-measure__item--active {% endif %}">
      {% if item.activeFrom %}
        <a href="{{ item.link }}" class="outcome-measure__link placeholder-measure">
        <p class="govuk-body govuk-!-font-weight-bold placeholder-title">DATA EXPECTED: {{ item.activeFrom | formatDate("DD/MM/YYYY") }}</p>
        {{ item.name }}</a>
      {% elseif item.commentsOnly == 'Yes' %}
        <a href="{{ item.link }}" class="outcome-measure__link comments-measure">
        <p class="govuk-body govuk-!-font-weight-bold comments-title">COMMENTS ONLY</p>
          {{ item.name }}</a>
      {% else %}
        <a href="{{ item.link }}" class="outcome-measure__link">{{ item.name }}</a>
      {% endif %}  
      </li>
    {% endfor %}
  </ul>
{% endmacro %}

{% macro buildOutcomeMeasures(items, level, statement) %}
  {% set outcomeMeasuresData = [] %}

  {% for item in items %}
    {% if (item.children | length >= 1) and not item.isLastExpandable %}
        {% set htmlContent = buildOutcomeMeasures(item.children, level + 1, statement) %}
    {% elif item.children | length >= 1 and item.isLastExpandable %}
        {% set htmlContent = outcomeMeasuresContent(item.children) %}
    {% else %}
        {% set htmlContent = '' %}
    {% endif %}
    {% set outcomeMeasuresData = (outcomeMeasuresData.push ({
      meta: item,
      level: level,
      content: htmlContent
    }), outcomeMeasuresData) %}
  {% endfor %}

  {{ accordion({
    id: statement +'-accordion-' + level,
    classes: 'accordion-level-' + level,
    items: outcomeMeasuresData
  }) }}
{% endmacro %}