{% macro readinessThemeCard(item) %}
  <div class="overview-card {{ item.color if item.active else "grey inactive" }}  ">
    <div class="overview-card--inner">
      <a class="overview-card--link" href="{{ item.link if item.active else "#" }}"> 
        <p class="overview-card--title">{{ item.name }}</p>
      </a>
      <p>{{ item.description }}</p>
      <div class="theme-comment">
        <p class="govuk-body-s">{{ "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book." | truncate(80, false) }}</p>
      </div>
    </div>
  </div>
{% endmacro %}