{% extends "template.njk" %}
{% from "readiness-theme-card.njk" import readinessThemeCard %}

{% set data = data() | await %}

{% block pageTitle %}Transition Readiness Overview{% endblock %}

{% block beforeContent %}
  {% include "navigation.njk" %}
  {% include "feedback.njk" %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row readiness-overview">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-l">Transition Readiness Overview</h1>
    <p class="govuk-body-s"><a class="govuk-link" href="{{ config.paths.raygDefinitions }}">View RAYG definitions and how they are calculated</a></p>
    <div class="govuk-grid-row">

      <div class="govuk-grid-column-one-quarter no-padding-right">
        <h3 class="govuk-heading-m" id="headline-figures">Headline figures<a class="govuk-link govuk-!-margin-left-6 overview-link" style="display:none" href="#themes">Themes</a></h3>

        <div class="overview-card-holder headline-figure top-statements">
          {% for item in data.headlineMeasures %}
            <a href="{{ item.link }}">
              <div class="overview-card {{ item.color }}">
                <div class="overview-card--inner">
                  <p class="overview-card--title">{{ item.name }} </p>
                  <span class="overview-card--tag-theme govuk-heading-s">{{ item.theme }}</span>
                  <p class="overview-card--metric">{{ item.description }}</p>
                </div>
              </div>
            </a>
          {% endfor %}
        </div>
      </div>

      <div class="govuk-grid-column-three-quarters">
        <h3 class="govuk-heading-m" id="themes"><a class="govuk-link govuk-!-margin-right-6 overview-link" style="display:none" href="#headline-figures">Headline figures</a>Themes</h3>

        <div class="govuk-grid-row">

          {# High risk column #}
          <div class="govuk-grid-column-one-quarter no-padding-right risk-col">
            <h4 class="govuk-heading-s govuk-!-font-weight-regular">High Risk</h4>
            <div class="overview-card-holder top-statements">
              {% for item in data.themes.red %}
                {{ readinessThemeCard(item) }}
              {% endfor %}
            </div>
          </div>

          {# Medium risk column #}
          <div class="govuk-grid-column-one-quarter no-padding-right risk-col">
            <h4 class="govuk-heading-s govuk-!-font-weight-regular">Medium Risk</h4>
            <div class="overview-card-holder top-statements">
              {% for item in data.themes.amber %}
                {{ readinessThemeCard(item) }}
              {% endfor %}
            </div>
          </div>

           {# Low risk column #}
          <div class="govuk-grid-column-one-quarter no-padding-right risk-col">
            <h4 class="govuk-heading-s govuk-!-font-weight-regular">Low Risk</h4>
            <div class="overview-card-holder top-statements">
              {% for item in data.themes.yellow %}
                {{ readinessThemeCard(item) }}
              {% endfor %}
            </div>
          </div>

           {# Minimal risk column #}
          <div class="govuk-grid-column-one-quarter no-padding-right risk-col">
            <h4 class="govuk-heading-s govuk-!-font-weight-regular">Minimal/No Risk</h4>
            <div class="overview-card-holder top-statements">
              {% for item in data.themes.green %}
                {{ readinessThemeCard(item) }}
              {% endfor %}
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>
</div>
{% endblock %}
