{{ govukAccordion({
  id: "project-accordion",
  items: [
    {
      heading: {
        text: "Current delivery status"
      },
      content: {
        html: deliveryStatusHtml
      }
    },
    {
      heading: {
        text: "HMG delivery"
      },
      content: {
        html: HMGdeliveryHTML
      }
    },
    {
      heading: {
        text: "Citizen readiness"
      },
      content: {
        html: citizenReadinessHtml
      }
    },
    {
      heading: {
        text: "Business readiness"
      },
      content: {
        html: businessReadinessHtml
      }
    },
    {
      heading: {
        text: "EU member state delivery"
      },
      content: {
        html: EUmemberStateHtml
      }
    },
    {
      heading: {
        text: "All milestones"
      },
      content: {
        html: milestonesHtml
      }
    }
  ]
}) }}