{{ govukTable({
  firstCellIsHeader: true,
  head: [
    {
      text: "Position"
    },
    {
      text: "Name"
    },
    {
      text: "Email"
    }
  ],
  rows: [
    [
      {
        html: "Minister for " + department
      },
      {
        text: "Minister name"
      },
      {
        text: "minister@email.com"
      }
    ],
    [
      {
        html: department + " SRO"
      },
      {
        text: SROname
      },
      {
        text: "sro@email.com"
      }
    ]
  ]
}) }}