{% extends "template.njk" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{% block beforeContent %}
{% include "feedback.njk" %}

{% if mode == 'bulk-upload' or mode == 'sign-off' or mode == 'upload-file' %}
{{ govukBackLink({
  text: "Back",
  href: "#",
  attributes: {
    onclick: "history.go(-1);"
  }
}) }}
{% endif %}

{% endblock %}

{% block pageTitle %}Bulk upload{% endblock %}

{% block content %}

<div class="govuk-grid-row">

  {% include "data-entry/bulk-upload/partials/" + mode + ".njk" %}

</div>

{% endblock %}
