{% extends "template.njk" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{% block beforeContent %}
{% include "feedback.njk" %}
{{ govukBackLink({
  text: "Back",
  href: "#",
  attributes: {
    onclick: "history.go(-1);"
  }
}) }}
{% endblock %}

{% block pageTitle %}Bulk upload{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

  {% include "data-entry/bulk-upload/partials/" + mode + ".njk" %}

 </div>
</div>

{% endblock %}
